<div ng-controller="AllUsersCtrl">
    <div ng-controller="UsersToAccountCtrl" class="panel panel-green">
        <div class="panel-heading">
            <h4 class="panel-title">Account Access</h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="form-group col-xs-6">
                    <span class="input-icon input-icon-right">
                        <input ng-model="tableParams.filter.search" ng-model-options="{ updateOn: 'default blur', debounce: { 'default':
 300, 'blur': 1 } }" name="usersFilter" placeholder="Search..." class="form-control" type="text">
                        <i class="ti-search"></i>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="checkbox clip-check check-primary">
                        <input type="checkbox" id="showOnlyConnectedUsers" value="0" checked>
                        <label for="showOnlyConnectedUsers" ng-click="showOnlyConnectedUsers = !showOnlyConnectedUsers">
                            Access Granted
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive" block-ui="usersTableBlock">
                        <table ng-table="tableParams" class="table table-hover table-bordered table-advanced">
                            <tr ng-repeat="user in $data">
                                <td data-title="" class="col-xs-1">
                                    <div class="checkbox clip-check check-primary">
                                        <input id="{{user.id}}" ng-model="selectedUsersIds[user.id]" type="checkbox">
                                        <label for="{{user.id}}"></label>
                                    </div>
                                </td>
                                <td class="col-xs-3" data-title="'Login'" sortable="'Login'">{{user.login}}</td>
                                <td class="col-xs-3" data-title="'Last'" sortable="'LastName'">{{user.lastName}}</td>
                                <td class="col-xs-3" data-title="'First'" sortable="'FirstName'">{{user.firstName}}</td>
                                <td class="col-xs-2 center" data-title=" 'Access' ">
                                    <a class="btn  btn-xs" ng-class="{'btn-red': user.isAccessGranted, 'btn-success': !user.isAccessGranted}" ng-click="grantAccessForUserToAccount(user, !user.isAccessGranted)">
                                        <span ng-show="user.isAccessGranted">Deny</span>
                                        <span ng-show="!user.isAccessGranted">Grant</span>
                                        Access
                                    </a>
                                </td>
                            </tr>
                            <tr ng-show="tableParams.isReady && tableParams.total() == 0">
                                <td colspan="5">
                                    <span>No Data</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-xs-12">
                    <a class="btn btn-success" ng-click="grantAccessForUsersToAccount(selectedUsersIds, true)">
                        Grant Access
                    </a>
                    <a class="btn btn-red" ng-click="grantAccessForUsersToAccount(selectedUsersIds, false)">
                        Deny Access
                    </a>
                    <a class="pull-right btn btn-dark-azure" ui-sref="app.users.create({type:'Account', accountGroupId:account.accountGroupId})">
                        New User
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
