<div class="panel panel-yellow">
    <div class="panel-heading">
        {{pageName}}
    </div>
    <div class="panel-body">
        <div class="box-register">
            <form name="form" novalidate ng-submit="submit(form)" ng-class="{'submitted':form.$submitted}">
                <fieldset ng-init="editFormLoaded(form)">
                    <div class="form-group">
                        <label>Select an Account Group</label>
                        <ui-select ng-if="!editMode && !returnToPreviousPage" ng-model="account.accountGroupId" theme="bootstrap">
                            <ui-select-match>
                                <span title="{{$select.selected.name}}">{{$select.selected.name}}</span>
                            </ui-select-match>
                            <ui-select-choices repeat="accountGroup.id as accountGroup in accountGroups" refresh="searchAccountGroups($select.search)" refresh-delay="300">
                                <div ng-bind-html="accountGroup.name | highlight: $select.search"></div>
                                <!--<small ng-bind-html="accountGroup.city | highlight: $select.search"></small>-->
                            </ui-select-choices>
                        </ui-select>
                        <input ng-if="editMode || returnToPreviousPage" type="text" ng-model="account.accountGroupName" disabled class="form-control" name="accountGroupName">
                    </div>
                    <div class="row" ng-if="editMode">
                        <div class="col-xs-12">
                            <div class="checkbox clip-check check-primary">
                                <input type="checkbox" id="isActive" ng-model="account.isActive" ng-checked="account.isActive">
                                <label for="isActive">Active</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12" ng-class="{ 'has-error' : form.name.$invalid && !form.$pristine }">
                            <label>Name</label>
                            <input type="text" ng-model="account.name" required class="form-control" name="name">
                            <p ng-show="form.name.$error.required && !form.$pristine" class="help-block">Required.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <label>External Code (Carrier)</label>
                            <input type="text" ng-model="account.externalId" class="form-control" name="externalId">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-6">
                            <label>Select a Company</label>
                            <ui-select ng-model="account.companyId" theme="bootstrap" ng-change="companySelected()">
                                <ui-select-match>
                                    <span title="{{$select.selected.externalCode}}&nbsp;{{$select.selected.name}}">{{$select.selected.externalCode}}&nbsp;{{$select.selected.name}}</span>
                                </ui-select-match>
                                <ui-select-choices repeat="company.id as company in companies | filter: $select.search">
                                    <span ng-bind-html="company.externalCode | highlight: $select.search"></span>
                                    <span ng-bind-html="company.name | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="form-group col-xs-6">
                            <label>Select Pricesheet</label>
                            <ui-select ng-model="account.priceSheetId" theme="bootstrap" ng-disabled="!account.companyId">
                                <ui-select-match>
                                    <span title="{{$select.selected.name}}">{{$select.selected.name}}</span>
                                </ui-select-match>
                                <ui-select-choices repeat="priceSheet.id as priceSheet in companyPriceSheets" refresh="searchCompanyPriceSheets($select.search)" refresh-delay="300">
                                    <span ng-bind-html="priceSheet.name | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <label>Street Address 1</label>
                            <input type="text" ng-model="account.street1" class="form-control" name="streetAddress1">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <label>Street Address 2</label>
                            <input type="text" ng-model="account.street2" class="form-control" name="streetAddress2">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-4">
                            <label>City</label>
                            <input type="text" ng-model="account.city" class="form-control" name="city">
                        </div>
                        <div class="form-group col-xs-4">
                            <label>State</label>
                            <input type="text" ng-model="account.state" class="form-control" name="state">
                        </div>
                        <div class="form-group col-xs-4">
                            <label>Zip</label>
                            <input type="text" ng-model="account.zip" class="form-control" name="zip">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12" ng-class="{ 'has-error' : form.contactName.$invalid && !form.$pristine }">
                            <label>Contact Name</label>
                            <span class="input-icon">
                                <input type="text" ng-model="account.contactName" required class="form-control" name="contactName">
                                <i class="fa fa-user"></i>
                            </span>
                            <p ng-show="form.contactName.$error.required && !form.$pristine" class="help-block">Required.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-6" ng-class="{ 'has-error' : form.contactEmail.$invalid && !form.$pristine }">
                            <label>Contact Email</label>
                            <span class="input-icon">
                                <input type="email" ng-model="account.contactEmail" required class="form-control" placeholder="username@domain.com" name="contactEmail">
                                <i class="fa fa-envelope"></i>
                            </span>
                            <p ng-show="form.contactEmail.$error.required && !form.$pristine" class="help-block">Required.</p>
                        </div>
                        <div class="form-group col-xs-6" ng-class="{ 'has-error' : form.contactPhone.$invalid && !form.$pristine }">
                            <label>Contact Phone</label>
                            <span class="input-icon">
                                <input type="text" ng-model="account.contactPhone" required class="form-control" ui-mask phone-mask name="contactPhone">
                                <i class="fa fa-phone"></i>
                            </span>
                            <p ng-show="form.contactPhone.$error.required && !form.$pristine" class="help-block">Required.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12" ng-class="{ 'has-error' : form.administrativeEmails.$invalid && !form.$pristine }">
                            <label>Administrative Emails</label>
                            <span class="input-icon">
                                <input type="text" multiple-emails ng-model="account.administrativeEmails" class="form-control" name="administrativeEmails">
                                <i class="fa fa-envelope"></i>
                            </span>
                            <p ng-show="form.administrativeEmails.$error.multipleEmails && !form.$pristine" class="help-block">Invalid email.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <div class="pull-right">
                                <page-loader ng-if="form.$submitted && form.$valid" size="32x32"></page-loader>
                                <a back-button ng-if="returnToPreviousPage" class="btn btn-light-azure">
                                    Cancel And Return
                                </a>
                                <button type="submit" class="btn btn-dark-azure ">
                                    Save
                                    <text ng-if="returnToPreviousPage">and Return </text>
                                    <i class="fa fa-arrow-circle-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="editMode">
                        <div class="form-group col-xs-12">
                            <div ng-include="'Public/app/accounts/views/shared/accountAccess.html'"></div>
                        </div>
                    </div>
                    <div class="row" ng-if="editMode">
                        <div class="form-group col-xs-12">
                            <div ng-include="'Public/app/accounts/views/shared/facilitiesTable.html'"></div>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>
</div>
