<div ng-controller="AllFacilitiesCtrl">
    <div ng-controller="FacilitiesToAccountCtrl" class="panel panel-green">
        <div class="panel-heading">
            <h4 class="panel-title">Facilities</h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="form-group col-xs-6">
                    <span class="input-icon input-icon-right">
                        <input ng-model="tableParams.filter.search" ng-model-options="{ updateOn: 'default blur', debounce: { 'default':
 300, 'blur': 1 } }" name="usersFilter" placeholder="Search..." class="form-control" type="text">
                        <i class="ti-search"></i>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="checkbox clip-check check-primary">
                        <input type="checkbox" id="showOnlyConnectedFacilities" value="0" checked>
                        <label for="showOnlyConnectedFacilities" ng-click="showOnlyConnectedFacilities = !showOnlyConnectedFacilities">
                            Only Connected
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive" block-ui="facilitiesTableBlock">
                        <table ng-table="tableParams" class="table table-hover table-bordered table-advanced">
                            <tr ng-repeat="facility in $data">
                                <td data-title="" class="col-xs-1">
                                    <div class="checkbox clip-check check-primary">
                                        <input id="{{facility.name}}_{{facility.id}}" ng-model="selectedFacilitiesIds[facility.id]" type="checkbox">
                                        <label for="{{facility.name}}_{{facility.id}}"></label>
                                    </div>
                                </td>
                                <td class="col-xs-1" data-title="'Id'" sortable="'Id'">{{facility.id}}</td>
                                <td class="col-xs-5" data-title="'Name'" sortable="'Name'">{{facility.name}}</td>
                                <td class="col-xs-3" data-title="'External Code'" sortable="'ExternalCode'">{{facility.externalCode}}</td>
                                <td class="col-xs-2 center" data-title=" '' ">
                                    <a class="btn  btn-xs" ng-class="{'btn-red': facility.isConnected, 'btn-success': !facility.isConnected}" ng-click="connectFacilityWithAccount(facility, !facility.isConnected)">
                                        <span ng-show="facility.isConnected">Remove</span>
                                        <span ng-show="!facility.isConnected">Connect</span>
                                    </a>
                                </td>
                            </tr>
                            <tr ng-show="tableParams.isReady && tableParams.total() == 0">
                                <td colspan="5">
                                    <span>No Data</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-xs-12">
                    <a class="btn btn-success" ng-click="connectFacilitiesWithAccount(selectedFacilitiesIds, true)">
                        Connect
                    </a>
                    <a class="btn btn-red" ng-click="connectFacilitiesWithAccount(selectedFacilitiesIds, false)">
                        Remove
                    </a>
                    <a class="pull-right btn btn-dark-azure" ui-sref="app.facilities.create({ accountGroupId:account.accountGroupId})">
                        New Facility
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
