<div class="panel panel-yellow">
    <div class="panel-heading">
        {{pageName}}
    </div>
    <div class="panel-body">
        <div class="box-register">
            <form name="form" novalidate ng-submit="submit(form)" ng-class="{'submitted':form.$submitted}">
                <fieldset ng-init="editFormLoaded(form)">
                    <div class="row" ng-if="editMode">
                        <div class="col-xs-12">
                            <div class="checkbox clip-check check-primary">
                                <input type="checkbox" id="isActive" ng-model="patient.isActive" ng-checked="patient.isActive">
                                <label for="isActive">Active</label>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-white">
                        <div class="panel-body">
                            <div class="row">
                                <div class="form-group col-xs-12">
                                    <!--Supplier Users can Edit this after creation, Account- NO-->
                                    <label>Account Group</label>
                                    <ui-select ng-if="isInRole('Supplier') && !editMode" ng-model="patient.accountGroupId" ng-change="accountGroupSelected()" theme="bootstrap">
                                        <ui-select-match>
                                            <span title="{{$select.selected.name}}">{{$select.selected.name}}</span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="accountGroup.id as accountGroup in accountGroups" refresh="searchAccountGroups($select.search)" refresh-delay="300">
                                            <div ng-bind-html="accountGroup.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <div ng-if="isInRole('Account') || editMode">
                                        {{patient.accountGroupName}}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xs-6">
                                    <label>Account</label>
                                    <!--Supplier Users can Edit this after creation, Account- NO-->
                                    <ui-select ng-if="!editMode && !patient.isAccountSelectionDisabled" ng-model="patient.accountId" ng-change="accountSelected()" theme="bootstrap" ng-disabled="!patient.accountGroupId">
                                        <ui-select-match>
                                            <span title="{{$select.selected.name}}">{{$select.selected.name}}</span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="account.id as account in accounts" refresh="searchAccounts($select.search, patient.accountGroupId)" refresh-delay="300">
                                            <div ng-bind-html="account.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <input ng-if="editMode || patient.isAccountSelectionDisabled" type="text" ng-model="patient.accountName" disabled class="form-control" name="accountName">
                                </div>
                                <div class="form-group col-xs-6">
                                    <label>Facility</label>
                                    <ui-select ng-model="patient.facilityId" theme="bootstrap" ng-disabled="!patient.accountId">
                                        <ui-select-match>
                                            <span title="{{$select.selected.name}}">{{$select.selected.name}}</span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="facility.id as facility in facilities" refresh="searchFacilities($select.search, patient.accountId)" refresh-delay="300">
                                            <div ng-bind-html="facility.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-include="'Public/app/patients/views/shared/patientInfoForm.html'"></div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="pull-right">
                                <page-loader ng-if="form.$submitted && form.$valid" size="32x32"></page-loader>
                                <button type="submit" class="btn btn-dark-azure ">
                                    Save
                                    <i class="fa fa-arrow-circle-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>

        </div>
    </div>
</div>
