<div class="panel panel-white">
    <div class="panel-body">
        <div class="row">
            <div class="form-group col-xs-4" ng-class="{ 'has-error' : form.firstName.$invalid && !form.$pristine }">
                <label>First Name</label>
                <input type="text" ng-model="patient.firstName" required class="form-control" name="firstName">
                <p ng-show="form.firstName.$error.required && !form.$pristine" class="help-block">Required.</p>
            </div>
            <div class="form-group col-xs-3">
                <label>Middle Initial</label>
                <input type="text" ng-model="patient.middleName" class="form-control" name="middleName">
            </div>
            <div class="form-group col-xs-5" ng-class="{ 'has-error' : form.lastName.$invalid && !form.$pristine }">
                <label>Last Name</label>
                <input type="text" ng-model="patient.lastName" required class="form-control" name="lastName">
                <p ng-show="form.lastName.$error.required && !form.$pristine" class="help-block">Required.</p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-5">
                <label>SSN#</label>
                <input type="text" ng-model="patient.ssn" class="form-control" name="ssn">
            </div>
            <div class="form-group col-xs-3">
                <label>Gender</label>
                <ui-select ng-model="patient.gender" theme="bootstrap">
                    <ui-select-match>
                        {{$select.selected}}
                    </ui-select-match>
                    <ui-select-choices repeat="gender  in ['Male', 'Female'] | filter: $select.search">
                        <div ng-bind-html="gender | highlight: $select.search"></div>
                        <!--<small ng-bind-html="accountGroup.city | highlight: $select.search"></small>-->
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="form-group col-xs-4" ng-class="{ 'has-error' : form.birthDate.$invalid && !form.$pristine }">
                <label>Birthday</label>
                <input type="text" class="form-control" ng-model="patient.birthDateValue" name="birthDate" placeholder="MM/DD/YYYY" required ng-click="isBirthDatePickerOpen = !isBirthDatePickerOpen" datepicker-popup="{{settings.dateFormat}}" max-date="settings.today" is-open="isBirthDatePickerOpen" close-text="Close" />
                <p ng-show="form.birthDate.$error.required && !form.$pristine" class="help-block">Required.</p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12">
                <label>Street Address 1</label>
                <input type="text" ng-model="patient.street1" class="form-control" name="street1">
            </div>
            <div class="form-group col-xs-12">
                <label>Street Address 2</label>
                <input type="text" ng-model="patient.street2" class="form-control" name="street2">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-4">
                <label>City</label>
                <input type="text" ng-model="patient.city" class="form-control" name="city">
            </div>
            <div class="form-group col-xs-4">
                <label>State</label>
                <input type="text" ng-model="patient.state" class="form-control" name="state">
            </div>
            <div class="form-group col-xs-4">
                <label>Zip</label>
                <input type="text" ng-model="patient.zip" class="form-control" name="zip">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-6">
                <label>Phone</label>
                <span class="input-icon">
                    <input type="text" ng-model="patient.phone" class="form-control" ui-mask phone-mask name="phone">
                    <i class="fa fa-phone"></i>
                </span>
            </div>
            <div class="form-group col-xs-6" ng-class="{ 'has-error' : form.email.$invalid && !form.$pristine }">
                <label>Email</label>
                <span class="input-icon">
                    <input type="email" ng-model="patient.email" required class="form-control" name="email" placeholder="username@domain.com">
                    <i class="fa fa-envelope"></i>
                </span>
                <p ng-show="form.email.$error.required && !form.$pristine" class="help-block">Required.</p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-4">
                <label></label>
                <div class="checkbox clip-check check-primary">
                    <input type="checkbox" id="deceased" ng-model="patient.isDeceased">
                    <label for="deceased">Deceased</label>
                </div>
            </div>
            <div class="form-group col-xs-8" ng-show="patient.isDeceased">
                <label>Deceased Date</label>
                <input type="text" class="form-control" placeholder="MM/DD/YYYY" ng-model="patient.deceasedDateValue" ng-click="isDeceasedDatePickerOpen = !isDeceasedDatePickerOpen" datepicker-popup="{{settings.dateFormat}}" max-date="settings.today" is-open="isDeceasedDatePickerOpen" close-text="Close" />
            </div>
        </div>
    </div>
</div>
<div class="panel panel-white">
    <div class="panel-body">
        <div class="row">
            <div ng-if="currentUserService.get().roles.indexOf('Supplier') > -1" class="form-group col-xs-6">
                <label>External Code</label>
                <input type="text" ng-model="patient.externalCode" class="form-control" name="externalCode">
            </div>
            <div class="form-group col-xs-6">
                <label>External EMR Code</label>
                <input type="text" ng-model="patient.externalEMRCode" class="form-control" name="externalEMRCode">
            </div>
        </div>
    </div>
</div>
<div class="panel panel-white" ng-if="showPatientPhysicianInfo">
    <div class="panel-body">
        <div class="row">
            <div class="form-group col-xs-6">
                <label>Physician First Name</label>
                <input type="text" ng-model="patient.physicianFirstName" class="form-control" name="physicianFirstName">
            </div>
            <div class="form-group col-xs-6">
                <label>Physician Last Name</label>
                <input type="text" ng-model="patient.physicianLastName" class="form-control" name="physicianLastName">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-6">
                <label>Physician Phone</label>
                <input type="text" ng-model="patient.physicianPhone" class="form-control" ui-mask phone-mask name="physicianPhone">
            </div>
            <div class="form-group col-xs-6">
                <label>Physician Email</label>
                <input type="email" ng-model="patient.physicianEmail" class="form-control" placeholder="username@domain.com" name="physicianEmail">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group col-xs-6">
        <label>Contact Name</label>
        <input type="text" ng-model="patient.contactName" class="form-control" name="contactName">
    </div>
    <div class="form-group col-xs-6">
        <label>Contact Email</label>
        <input type="email" ng-model="patient.contactEmail" class="form-control" placeholder="username@domain.com" name="contactEmail">
    </div>
</div>
<div class="row">
    <div class="form-group col-xs-6">
        <label>Contact Phone</label>
        <input type="text" ng-model="patient.contactPhone" class="form-control" ui-mask phone-mask name="contactPhone">
    </div>
</div>