<div ng-controller="EditProductCtrl" class="product-edit">
    <div id="modal-header-primary" ng-if="local.showProductPopup==true" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade bs-example-modal-lg">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-header-primary">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">x</button>
                    <h4 id="modal-header-primary-label" class="modal-title">Edit Product {{product.id}}</h4>
                </div>
                <div class="modal-body">
                    <div class="box-register">
                        <form name="form" novalidate ng-submit="submit(form)" ng-class="{'submitted':submitted}">
                            <fieldset>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="col-xs-4">
                                            <div class="form-group">
                                                <div class="row">
                                                    <br />
                                                    <div>
                                                        <div class="col-xs-12 panel panel-white panel-body">
                                                            <div ng-if="product.hasImage">
                                                                <img ng-if="product.image" ngf-src="product.image" class="product-image-edit" />
                                                                <img ng-if="!product.image && product.previousImage" ngf-src="product.previousImage" class="product-image-edit" />
                                                                <div ng-if="!product.image && !product.previousImage" afkl-lazy-image="{{product.imageUrl}} 480w, {{product.imageUrl}} 768w, {{product.imageUrl}}" on-error-src="No Image" on-load="Public/content/images/pageloader/loader8.GIF"
                                                                     class="afkl-lazy-wrapper afkl-img-ratio-1-1"></div>
                                                            </div>
                                                            <div ng-if="!product.hasImage">No Image</div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <br />
                                                            <a ngf-select="product.hasImage=true" ng-model="product.image" name="file" accept="image/*" ngf-max-size="10MB" class="btn btn-dark-azure pull-right">Upload</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-8">
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <div class="checkbox clip-check check-primary">
                                                        <input type="checkbox" id="isActive" ng-model="product.isActive" ng-checked="product.isActive">
                                                        <label for="isActive">Active</label>
                                                    </div>
                                                    <div class="checkbox clip-check check-primary">
                                                        <input type="checkbox" id="isTemplate" ng-model="product.isTemplate" ng-disabled="editMode" ng-checked="product.isTemplate">
                                                        <label for="isTemplate">Product Is Template</label>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6" ng-if="!product.isTemplate">
                                                    <div class="checkbox clip-check check-primary">
                                                        <input type="checkbox" id="availableOutsideTemplate" ng-model="product.availableOutsideTemplate" ng-checked="product.availableOutsideTemplate">
                                                        <label for="availableOutsideTemplate">Available for order outside template</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-xs-6">
                                                    <label>Display Name</label>
                                                    <input type="text" ng-model="product.displayName" required class="form-control" name="displayName">
                                                </div>
                                                <div class="form-group col-xs-6">
                                                    <label>External Code</label>
                                                    <input type="text" ng-model="product.externalCode" class="form-control" name="externalCode">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-xs-12">
                                                    <label>Select Product Category</label>
                                                    <ui-select multiple ng-model="product.selectedCategories" theme="bootstrap">
                                                        <ui-select-match>
                                                            {{$item.name}}
                                                        </ui-select-match>
                                                        <ui-select-choices repeat="productCategory.id as productCategory in productCategories">
                                                            <div ng-bind-html="productCategory.name | highlight: $select.search"></div>
                                                            <!--<small ng-bind-html="accountGroup.city | highlight: $select.search"></small>-->
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-xs-12">
                                                    <label>Short Description 1</label>
                                                    <input type="text" ng-model="product.shortDescription" class="form-control" name="shortDescription1">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-xs-12">
                                                    <label for="ShortDescription2">Short Description 2</label>
                                                    <input id="ShortDescription2" type="text" ng-model="product.shortDescription2" class="form-control" name="shortDescription2">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label>Portal Description</label>
                                            <textarea ng-model="product.portalDescription" class="form-control autosize area-animated msd-elastic: \n;"></textarea>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="pull-right">
                                            <button ng-if="!submitted" ng-click="submitted = true;" close-backdrop class="btn btn-dark-azure ">
                                                Save
                                                <i class="fa fa-arrow-circle-right"></i>
                                            </button>
                                            <div ng-if="submitted">Hello</div>
                                            <!--                                <img ng-if="submitted" src="shared/Public/content/images/pageloader/loader8.GIF" />-->
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                        <div class="row" ng-if="product.isTemplate">
                            <div class="form-group col-xs-12">
                                <div ng-include="'Public/app/products/views/shared/templateItems.html'"></div>
                            </div>
                        </div>
                        <div class="row" ng-if="!product.isTemplate">
                            <div class="form-group col-xs-12">
                                <div ng-include="'Public/app/products/views/shared/priceSheetItemsTable.html'"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
