<div ng-controller="AllProductsCtrl">
    <div class="panel panel-blue">
        <div class="panel-heading">Products</div>

        <div class="panel-body">
            <div class="row">
                <div class="form-group col-xs-6">
                    <span class="input-icon input-icon-right">
                        <input ng-model="tableParams.filter.search"
                               ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 300, 'blur': 1 } }"
                               name="productName" placeholder="Search..." class="form-control" type="text">
                        <i class="ti-search"></i>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="checkbox clip-check check-primary">
                        <input type="checkbox" id="showInactiveProducts" value="1">
                        <label for="showInactiveProducts" ng-click="tableParams.filter.includeInactive = !tableParams.filter.includeInactive">
                            Include Inactive
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive" block-ui="productsTableBlock">
                        <table ng-table="tableParams" class="table table-hover table-bordered table-advanced">
                            <tr ng-repeat="product in $data">
                                <td data-title="">
                                    <div class="checkbox clip-check check-primary">
                                        <input id="{{product.id}}" ng-model="selectedProductsIds[product.id]" value="1" type="checkbox" ng-disabled="!product.isActive">
                                        <label for="{{product.id}}"></label>
                                    </div>
                                </td>
                                <td data-title="" class="center">
                                    <button type="button" data-target="#modal-header-primary" ng-click="editProduct(product.id);" data-toggle="modal" class="btn btn-iconed btn-xs btn-round btn-warning">
                                        <i class="fa fa-edit"></i>&nbsp;
                                        Edit
                                    </button>
                                </td>
                                <td class="col-xs-1">
                                    <div ng-if="!product.hasImage">
                                        <img height='50px' src='Public/content/images/no-image.png'>
                                    </div>
                                    <div ng-if="product.hasImage" afkl-lazy-image="{{product.imageUrl}} 480w, {{product.imageUrl}} 768w, {{product.imageUrl}}" afkl-lazy-image-options="{'nolazy': true}" on-error-src="Error" on-load="Public/content/images/pageloader/loader8.GIF"
                                         class="afkl-lazy-wrapper afkl-img-ratio-1-1"></div>
                                </td>
                                <td class="col-xs-2" data-title="'External Code'" sortable="'ExternalCode'">
                                    <div ng-bind-html="product.externalCode | highlight: tableParams.filter.search"></div>
                                </td>
                                <td class="col-xs-2" data-title="'Category'">
                                    <div ng-repeat="relationship in product.productsToCategories| filter:{isActive:true, isCategoryActive:true}" ng-bind-html="relationship.categoryName"></div>
                                </td>
                                <td class="col-xs-2" data-title="'Description 1'" sortable="'ShortDescription'">
                                    <div ng-bind-html="product.shortDescription | highlight: tableParams.filter.search"></div>
                                </td>
                                <td class="col-xs-2" data-title="'Description 2'" sortable="'ShortDescription2'">
                                    <div ng-bind-html="product.shortDescription2 | highlight: tableParams.filter.search"></div>
                                </td>
                                <td class="col-xs-1" data-title="'Template'" sortable="'isTemplate'">{{product.isTemplate}}</td>
                                <td class="col-xs-1" data-title="'Active'" sortable="'isActive'">{{product.isActive}}</td>


                            </tr>
                            <tr ng-show="tableParams.isReady && tableParams.total() == 0">
                                <td colspan="9">
                                    <span>No Data</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-light-azure" ng-click="inactivateSelectedProducts($event)">
                        Mark Inactive
                    </button>
                    <button ui-sref="app.products.create" class="btn btn-wide btn-dark-azure">New Product </button>
                </div>
            </div>
            <div ng-include="'Public/app/products/views/edit.html'"></div>
        </div>
    </div>
</div>
