<!-- start: SendResetPasswordEmail -->
<div class="row" ng-controller="SendResetPasswordEmailCtrl">
    <div class="main-login col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
        <h1>{{app.name}}</h1>
        <!-- start: SendResetPasswordEmail BOX -->
        <div class="widget widget-blue">
            <div class="widget-title"><h3>Forgot Password</h3></div>
            <div class="widget-content">
                <form name="form" rc-submit="sendResetPasswordEmail()" class="form-login">
                    <div class="row">
                        <p>
                            Please enter your email, we will send instructions to the user associated with it.
                        </p>
                        <div class="col-xs-12">
                            <div><label>User Email&nbsp; </label><input type="email" ng-model="userData.email" ng-disabled="form.$submitted" required class="form-control" name="email" placeholder="domain@gmail.com"></div>
                            <div class="form-actions">

                                <button ng-click="$state.go('login.signin')" class="btn btn-iconed btn-round btn-default main-buttons pull-left">
                                    Back to Login<i class="fa fa-arrow-circle-left"></i>
                                </button>
                                <div class="pull-right">
                                    <page-loader ng-show="form.$submitted && form.$valid" size="32x32" class="pull-left"></page-loader>
                                    <button type="submit" class="btn btn-iconed btn-round btn-default main-buttons pull-right">
                                        Restore <i class="fa fa-arrow-circle-right"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="form-group">
                                <span class="text-orange">
                                    {{message}}
                                </span>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- start: COPYRIGHT -->
                <div class="copyright">
                    {{app.year}} &copy; {{ app.name }} by {{ app.author }}.
                </div>
                <!-- end: COPYRIGHT -->
            </div>
        </div>
        <!-- end: SendResetPasswordEmail BOX -->
    </div>
</div>
<!-- end: SendResetPasswordEmail -->
