<!-- toaster directive -->
<!--<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>-->
<!-- / toaster directive -->

<div ng-class="header.boxed" class="default-page">
    <a id="totop" href="/#/"><i class="fa fa-angle-up"></i></a>
    <!--  topbar -->
    <div id="header-topbar-option-demo" ng-include="'Public/app/layout/views/top-navbar.html'" onload="load_header()" class="page-header-topbar"></div>
    <!--  topbar -->

    <div id="wrapper" ng-class="header.layout_menu">
        <!--  sidebar -->
        <nav id="sidebar" data-ng-include=" 'Public/app/layout/views/sitebar.html' " role="navigation" data-step="3" data-position="right" ng-menu="" class="navbar-default navbar-static-side"></nav>
        <!-- / sidebar -->
        <!-- main content -->
        <div id="page-wrapper" ng-class="header.animation" class="animated">
            <div data-ng-include=" 'Public/app/layout/views/main-content.html' " class="page-content"></div>
        </div>
        <!-- / main content -->
        <!-- footer -->
        <div id="footer" ng-include=" 'Public/app/layout/views/footer.html'" ng-show="header.footer" class="hide"></div>
        <!-- / footer -->
    </div>
</div>

<div hide="hide" class="extra-page"></div>