
<div class="sidebar-wrapper">
    <ul id="side-menu" ng-menu="" class="">
        <li class="user-panel">
            <div class="info">
                <p ng-show="currentUserService.get()" class="hidden-xs">Welcome {{currentUserService.get().userName}}</p>
            </div>
            <div class="clearfix"></div>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="app.home"><i class="fa fa-tachometer fa-fw"><div class="icon-bg bg-orange"></div></i><span class="menu-title">Dashboard</span></a>
        </li>
        <li ng-if="isInRole('Supplier') || hasPermissions('AccountGroupAdmin')" ng-class="{'active':$state.includes('app.users')}">
            <a ui-sref="app.users.list">
                <i class="fa fa-user fa-fw"><div class="icon-bg bg-orange"></div></i><span class="menu-title">Users</span>
            </a>
        </li>
        <li ng-if="isInRole('Supplier')" ng-class="{'active':$state.includes('app.groups')}">
            <a ui-sref="app.groups.list">
                <i class="fa fa-sitemap fa-fw"><div class="icon-bg bg-orange"></div></i><span class="menu-title">Account Groups</span>
            </a>
        </li>
        <li ng-if="isInRole('Supplier')" ng-class="{'active':$state.includes('app.accounts')}">
            <a ui-sref="app.accounts.list">
                <i class="fa fa-square fa-fw"><div class="icon-bg bg-orange"></div></i><span class="menu-title">Accounts</span>
            </a>
        </li>
        <li ng-class="{'active':$state.includes('app.patients')}">
            <a ui-sref="app.patients.list">
                <i class="fa fa-group fa-fw"><div class="icon-bg bg-orange"></div></i><span class="menu-title">Patients</span>
            </a>
        </li>
        <li ng-if="isInRole('Supplier')" ng-class="{'active':$state.includes('app.facilities')}">
            <a ui-sref="app.facilities.list">
                <i class="fa fa-building fa-fw"><div class="icon-bg bg-orange"></div></i><span class="menu-title">Facilities</span>
            </a>
        </li>
        <li ng-if="isInRole('Supplier')" ng-class="{'active':$state.includes('app.companies')}">
            <a ui-sref="app.companies.list">
                <i class="fa fa-globe fa-fw"><div class="icon-bg bg-orange"></div></i><span class="menu-title">Companies</span>
            </a>
        </li>
        <li ng-if="isInRole('Supplier')" ng-class="{'active':$state.includes('app.products')}">
            <a ui-sref="app.products.list">
                <i class="fa fa-cubes fa-fw"><div class="icon-bg bg-orange"></div></i><span class="menu-title">Products</span>
            </a>
        </li>
        <li ng-if="isInRole('Supplier')" ng-class="{'active':$state.includes('app.pricesheets')}">
            <a ui-sref="app.pricesheets.list">
                <i class="fa fa-list fa-fw"><div class="icon-bg bg-orange"></div></i><span class="menu-title">Price Sheets</span>
            </a>
        </li>
        <li  ng-class="{'active':$state.includes('app.orders')}">
            <a ui-sref="app.orders.list">
                <i class="fa fa-truck fa-fw"><div class="icon-bg bg-orange"></div></i><span class="menu-title">Orders</span>
            </a>
        </li>
        <li ng-class="{'active':$state.includes('app.reports')}">
            <a ui-sref="app.reports.patient_census">
                <i class="fa fa-file fa-fw"><div class="icon-bg bg-orange"></div></i><span class="menu-title">Reports</span>
            </a>
        </li>
    </ul>
</div>