
<nav id="topbar" role="navigation" style="margin-bottom: 0;" data-step="1" class="navbar navbar-default navbar-static-top">
    <div class="navbar-header">
        <button type="button" data-toggle="collapse" data-target=".sidebar-collapse" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a id="logo" href="/#/" class="navbar-brand">
            <span class="fa fa-rocket"></span>
            <span class="logo-text logo-image">
                <img src="/Public/content/images/DME_Prime_logo.png" />
            </span>
            <span style="display: none" class="logo-text-icon logo-mini-image">
                <img src="/Public/content/images/DME_Prime_mini_logo.png" />
            </span>
        </a>
    </div>
    <div class="topbar-main">
        <ul ng-class="header.layout_horizontal_menu" class="nav navbar-nav">
            <li class="active"><a href="/#/">Dashboard</a></li>
            <li>
                <a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle">
                    Layouts
                    &nbsp;<i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu"></ul>
            </li>
            <li class="mega-menu-dropdown">
                <a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle">
                    UI Elements
                    &nbsp;<i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <div class="mega-menu-content">
                        </div>
                    </li>
                </ul>
            </li>
            <li class="mega-menu-dropdown mega-menu-full">
                <a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle">
                    Extras
                    &nbsp;<i class="fa fa-angle-down"></i>
                </a>

            </li>
        </ul>
        <!--   <form id="topbar-search" action="/#/" method="GET" ng-class="{open:header.form}" class="hidden-sm hidden-xs open">
            <div class="input-group">
              <input type="text" placeholder="Search..." class="form-control"/><span class="input-group-btn"><a href="javascript:;" class="btn submit"><i class="fa fa-search"></i></a></span>
            </div>
          </form> -->
        <ul class="nav navbar navbar-top-links navbar-right mbn">
            <li class="dropdown topbar-user" ng-class="{open:userMenuOpened}" off-click="userMenuOpened=false" ng-click="userMenuOpened = !userMenuOpened">
                <a data-hover="dropdown" href="javascript:void(0);" class="dropdown-toggle">
                    <!--<img src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/48.jpg" alt="" class="img-responsive img-circle" />&nbsp;-->
                    <span ng-show="currentUserService.get()" class="hidden-xs">{{currentUserService.get().userName}}</span>&nbsp;<span class="caret"></span>
                </a>
                <ul class="dropdown-menu dropdown-user pull-left">
                    <!--<li><a href="/#/extra-profile"><i class="fa fa-user"></i>My Profile</a></li>
                    <li><a href="/#/page-calendar"><i class="fa fa-calendar"></i>My Calendar</a></li>
                    <li><a href="/#/email-inbox"><i class="fa fa-envelope"></i>My Inbox<span class="badge badge-danger">3</span></a></li>
                    <li><a href="javascript:void(0);"><i class="fa fa-tasks"></i>My Tasks<span class="badge badge-success">7</span></a></li>
                    <li class="divider"></li>-->
                    <!--<li><a ui-sref="app.users.list"><i class="fa fa-lock"></i>Lock Screen</a></li>-->
                    <li><a ui-sref="login.signin"><i class="fa fa-key"></i>Log Out</a></li>
                    <li><a ui-sref="login.changePassword" ng-if="currentUserService.get() && currentUserService.get().token != ''"><i class="fa fa-key"></i>Change Password</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>