<div ng-controller="AllAccountsCtrl">
    <div ng-controller="AccountsToUserCtrl" class="panel panel-green">
        <div class="panel-heading">
            <h4 class="panel-title">Account Access</h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="form-group col-xs-6">
                    <span class="input-icon input-icon-right">
                        <input ng-model="tableParams.filter.search" ng-model-options="{ updateOn: 'default blur', debounce: { 'default':
 300, 'blur': 1 } }" name="usersFilter" placeholder="Search..." class="form-control" type="text">
                        <i class="ti-search"></i>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="checkbox clip-check check-primary">
                        <input type="checkbox" id="showOnlyConnectedAccounts" value="0" checked>
                        <label for="showOnlyConnectedAccounts" ng-click="showOnlyConnectedAccounts = !showOnlyConnectedAccounts">
                            Access Granted
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive" block-ui="accountsTableBlock">
                        <table ng-table="tableParams" class="table table-hover table-bordered table-advanced">
                            <tr ng-repeat="account in $data">
                                <td data-title="">
                                    <div class="checkbox clip-check check-primary">
                                        <input id="{{account.name}}_{{account.id}}" ng-model="selectedAccountsIds[account.id]" value="1" type="checkbox">
                                        <label for="{{account.name}}_{{account.id}}"></label>
                                    </div>
                                </td>
                                <td class="col-xs-1" data-title="'Id'" sortable="'Id'">{{account.id}}</td>
                                <td class="col-xs-8" data-title="'Name'" sortable="'Name'">{{account.name}}</td>
                                <td class="col-xs-2 center" data-title=" 'Access' ">
                                    <a class="btn  btn-xs" ng-class="{'btn-red': account.hasUserAccess, 'btn-success': !account.hasUserAccess}" ng-click="grantAccessForUserToAccount(account, !account.hasUserAccess)">
                                        <span ng-show="account.hasUserAccess">Deny</span>
                                        <span ng-show="!account.hasUserAccess">Grant</span>
                                        Access
                                    </a>
                                </td>
                            </tr>
                            <tr ng-show="tableParams.isReady && tableParams.total() == 0">
                                <td colspan="4">
                                    <span>No Data</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-xs-12">
                    <a class="btn btn-success" ng-click="grantAccessForUserToAccounts(selectedAccountsIds, true)">
                        Grant Access
                    </a>
                    <a class="btn btn-red" ng-click="grantAccessForUserToAccounts(selectedAccountsIds, false)">
                        Deny Access
                    </a>
                    <a class="pull-right btn btn-dark-azure" ui-sref="app.accounts.create({ accountGroupId:user.accountGroupId})">
                        New Account
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
