<div class="panel panel-yellow">
    <div class="panel-heading">
        {{pageName}}
    </div>
    <div class="panel-body">
        <div class="box-register">
            <form name="form" novalidate ng-submit="submit(form)" ng-class="{'submitted':form.$submitted}">
                <fieldset ng-init="editFormLoaded(form)">
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <div ng-if="isInRole('Supplier')" class="radio clip-radio radio-primary radio-inline">
                                <input type="radio" id="Supplier" ng-disabled="editMode || returnToPreviousPage" name="role" value="Supplier" ng-model="user.accountType">
                                <label for="Supplier">
                                    Supplier
                                </label>
                            </div>
                            <div class="radio clip-radio radio-primary radio-inline">
                                <input type="radio" id="Account" ng-disabled="editMode || returnToPreviousPage" name="role" value="Account" ng-model="user.accountType">
                                <label for="Account">
                                    Account
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="editMode">
                        <div class="col-xs-12">
                            <div class="checkbox clip-check check-primary">
                                <input type="checkbox" id="isActive" ng-model="user.isActive" ng-checked="user.isActive">
                                <label for="isActive">Active</label>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="user.accountType=='Account'">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label>Select an Account Group</label>
                                <ui-select ng-if="!editMode && !returnToPreviousPage" ng-model="user.accountGroupId" theme="bootstrap">
                                    <ui-select-match>
                                        <span title="{{$select.selected.name}}">{{$select.selected.name}}</span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="accountGroup.id as accountGroup in accountGroups" refresh="searchAccountGroups($select.search)" refresh-delay="300">
                                        <div ng-bind-html="accountGroup.name | highlight: $select.search"></div>
                                        <!--<small ng-bind-html="accountGroup.city | highlight: $select.search"></small>-->
                                    </ui-select-choices>
                                </ui-select>
                                <input ng-if="editMode || returnToPreviousPage" type="text" ng-model="accountGroup.name" disabled class="form-control" name="accountGroupName">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12" ng-class="{ 'has-error' : form.login.$invalid && !form.$pristine }">
                            <label>Login</label>
                            <input type="text" ng-disabled="editMode" required ng-model="user.login" class="form-control" name="login">
                            <p ng-show="form.login.$error.required && !form.$pristine" class="help-block">Required.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class=" form-group col-xs-6" ng-class="{ 'has-error' : form.password.$invalid && !form.$pristine }">
                            <label>Password</label>
                            <span class="input-icon">
                                <input type="password" ng-model="user.password" class="form-control" id="password" name="password">
                                <i class="fa fa-lock"></i>
                            </span>
                        </div>
                        <div class="form-group col-xs-6" ng-class="{ 'has-error' : form.password_again.$invalid && !form.$pristine }">
                            <label>Re-Type Password</label>
                            <span class="input-icon">
                                <input type="password" ng-model="user.confirmPassword" class="form-control" name="password_again">
                                <i class="fa fa-lock"></i>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-6" ng-class="{ 'has-error' : form.firstName.$invalid && !form.$pristine }">
                            <label>First Name</label>
                            <input type="text" ng-model="user.firstName" required class="form-control" name="firstName">
                            <p ng-show="form.firstName.$error.required && !form.$pristine" class="help-block">Required.</p>
                        </div>
                        <div class="form-group col-xs-6" ng-class="{ 'has-error' : form.lastName.$invalid && !form.$pristine }">
                            <label>Last Name</label>
                            <input type="text" ng-model="user.lastName" required class="form-control" name="lastName">
                            <p ng-show="form.lastName.$error.required && !form.$pristine" class="help-block">Required.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-6" ng-class="{ 'has-error' : form.phone.$invalid && !form.$pristine }">
                            <label>Phone</label>
                            <span class="input-icon">
                                <input type="text" ng-model="user.phone" required class="form-control" ui-mask phone-mask name="phone">
                                <i class="fa fa-phone"></i>
                            </span>
                            <p ng-show="form.phone.$error.required && !form.$pristine" class="help-block">Required.</p>
                        </div>
                        <div class="form-group col-xs-6" ng-class="{ 'has-error' : form.email.$invalid && !form.$pristine }">
                            <label>Email</label>
                            <span class="input-icon">
                                <input type="email" ng-model="user.email" required class="form-control" name="email" placeholder="username@domain.com">
                                <i class="fa fa-envelope"></i>
                            </span>
                            <p ng-show="form.email.$error.required && !form.$pristine" class="help-block">Required.</p>
                        </div>

                    </div>
                    <div ng-if="user.accountType=='Supplier'">
                        <div class="row">
                            <div class="form-group col-xs-6">
                                <div class="checkbox clip-check check-primary">
                                    <input type="checkbox" id="receiveApprovalNeededEmail" ng-model="user.receiveApprovalNeededEmail" ng-checked="user.receiveApprovalNeededEmail">
                                    <label for="receiveApprovalNeededEmail">Receive Approval Needed Email</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="user.accountType=='Account'">
                        <div class="form-group">
                            <div class="panel panel-orange no-radius">
                                <div class="panel-heading border-light">
                                    <h4 class="panel-title">Permissions</h4>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="form-group col-xs-6">
                                            <div class="checkbox clip-check check-primary">
                                                <input type="checkbox" id="isOrderApprovalOverride" ng-model="user.isOrderApprovalOverride" ng-checked="user.isOrderApprovalOverride">
                                                <label for="isOrderApprovalOverride">Ignore Order Approvals</label>
                                            </div>
                                        </div>
                                        <div class="form-group col-xs-6">
                                            <div class="checkbox clip-check check-primary">
                                                <input type="checkbox" id="IsOrderApprovalAdmin" ng-model="user.isOrderApprovalAdmin" ng-checked="user.isOrderApprovalAdmin">
                                                <label for="IsOrderApprovalAdmin">Can Approve Orders</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-xs-12">
                                            <div class="checkbox clip-check check-primary">
                                                <input type="checkbox" id="isAccountGroupAdmin" ng-model="user.isAccountGroupAdmin" ng-checked="user.isAccountGroupAdmin">
                                                <label for="isAccountGroupAdmin">Account Group Admin (Can see all Accounts and add/remove users)</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="row" ng-if="editMode && !user.isAccountGroupAdmin">
                            <div class="form-group col-xs-12" ng-include="'Public/app/users/views/shared/accountAccess.html'"></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="pull-right">
                                <page-loader ng-if="form.$submitted && form.$valid" size="32x32"></page-loader>
                                <a back-button ng-if="returnToPreviousPage" class="btn btn-light-azure">
                                    Cancel And Return
                                </a>
                                <button type="submit" class="btn btn-dark-azure ">
                                    Save
                                    <text ng-if="returnToPreviousPage">and Return </text>
                                    <i class="fa fa-arrow-circle-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>

        </div>
    </div>
</div>

