<div class="panel panel-yellow">
    <div class="panel-heading">
        {{pageName}}
    </div>
    <div class="panel-body">
        <div class="box-register">
            <form name="form" novalidate ng-submit="submit(form)" ng-class="{'submitted':form.$submitted}">
                <fieldset ng-init="editFormLoaded(form)">
                    <div class="row">
                        <div class="form-group col-xs-6" ng-class="{ 'has-error' : form.name.$invalid && !form.$pristine }">
                            <label>Name</label>
                            <input type="text" ng-model="company.name" required class="form-control" name="name">
                            <p ng-show="form.name.$error.required && !form.$pristine" class="help-block">Required.</p>
                        </div>
                        <div class="form-group col-xs-6" ng-class="{ 'has-error' : form.externalCode.$invalid && !form.$pristine }">
                            <label>External Code</label>
                            <input type="text" ng-model="company.externalCode" required class="form-control" name="externalCode">
                            <p ng-show="form.externalCode.$error.required && !form.$pristine" class="help-block">Required.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <label>Description</label>
                            <textarea ng-model="company.description" class="form-control autosize area-animated msd-elastic: \n;"></textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="pull-right">
                                <page-loader ng-if="form.$submitted && form.$valid" size="32x32"></page-loader>
                                <button type="submit" class="btn btn-dark-azure ">
                                    Save
                                    <i class="fa fa-arrow-circle-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
            <div ng-include="'Public/app/companies/views/shared/priceSheetsTable.html'"></div>
        </div>
    </div>
</div>
