<div ng-controller="AllPriceSheetsCtrl">
    <div ng-controller="CompanyPriceSheetsListCtrl">
        <div class="panel panel-blue">
            <div class="panel-heading">Price Sheets</div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-xs-6">
                        <span class="input-icon input-icon-right">
                            <input ng-model="tableParams.filter.search"
                                   ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 300, 'blur': 1 } }"
                                   name="productName" placeholder="Search..." class="form-control" type="text">
                            <i class="ti-search"></i>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="checkbox clip-check check-primary">
                            <input type="checkbox" id="showInactiveProducts" value="1">
                            <label for="showInactiveProducts" ng-click="tableParams.filter.includeInactive = !tableParams.filter.includeInactive">
                                Include Inactive
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="table-responsive" block-ui="priceSheetsTableBlock">
                            <table ng-table="tableParams" class="table table-hover table-bordered table-advanced">
                                <tr ng-repeat="priceSheet in $data">
                                    <td data-title="">
                                        <div class="checkbox clip-check check-primary">
                                            <input id="{{priceSheet.id}}" ng-model="selectedIds[priceSheet.id]" value="1" type="checkbox" ng-disabled="!priceSheet.isActive">
                                            <label for="{{priceSheet.id}}"></label>
                                        </div>
                                    </td>
                                    <td  data-title="" class="center">
                                        <a ui-sref="app.pricesheets.edit({pricesheetId:priceSheet.id})" class="btn btn-warning btn-xs">
                                            <i class="fa fa-edit"></i>&nbsp;
                                            Edit
                                        </a>
                                    </td>

                                    <td class="col-xs-7" data-title="'Name'" sortable="'Name'">
                                        <div ng-bind-html="priceSheet.name | highlight: tableParams.filter.search"></div>
                                    </td>
                                    <td class="col-xs-4 center" data-title="'Active'" sortable="'isActive'">{{priceSheet.isActive}}</td>
                                </tr>
                                <tr ng-show="tableParams.isReady && tableParams.total() == 0">
                                    <td colspan="4">
                                        <span>No Data</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <button class="btn btn-light-azure" ng-click="inactivateSelected($event)">
                            Mark Inactive
                        </button>
                        <!--<button ui-sref="app.pricesheets.create" class="btn btn-wide btn-dark-azure">
                            New Price Sheet
                        </button>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
