<div ng-controller="LogsCtrl">
    <div class="panel panel-blue">
        <div class="panel-heading">Logs</div>
        <div class="panel-body">
            <div class="row">
                <div class="form-group col-xs-6">
                    <span class="input-icon input-icon-right">
                        <input ng-model="tableParams.filter.search"
                               ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 300, 'blur': 1 } }"
                               name="productName" placeholder="Search..." class="form-control" type="text">
                        <i class="ti-search"></i>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-4">
                    <label>From</label>
                    <input type="text" class="form-control" ng-model="tableParams.filter.fromDate" name="fromDate" placeholder="MM/DD/YYYY" ng-click="isFromDatePickerOpen = !isFromDatePickerOpen" datepicker-popup="{{settings.dateFormat}}" max-date="settings.today" is-open="isFromDatePickerOpen" close-text="Close" />
                </div>
                <div class="form-group col-xs-4">
                    <label>To</label>
                    <input type="text" class="form-control" ng-model="tableParams.filter.toDate" name="toDate" placeholder="MM/DD/YYYY" ng-click="isToDatePickerOpen = !isToDatePickerOpen" datepicker-popup="{{settings.dateFormat}}" max-date="settings.today" is-open="isToDatePickerOpen" close-text="Close" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive" block-ui="logsTableBlock">
                        <table ng-table="tableParams" class="table table-hover table-bordered table-advanced">
                            <tr ng-repeat="log in $data">
                                <td class="col-xs-1" data-title="'Type'" sortable="'ErrorType'">
                                    <div ng-bind-html="log.errorType | highlight: tableParams.filter.search"></div>
                                </td>
                                <td class="col-xs-2" data-title="'Message'" sortable="'Message'">
                                    <div ng-bind-html="log.message| highlight: tableParams.filter.search"></div>
                                </td>
                                <td class="col-xs-2" data-title="'StackTrace'" sortable="'StackTrace'">
                                    <div ng-if="log.stackTrace"><a ng-click="showStackTrace(log.stackTrace)">{{log.stackTrace.substring(0,20)}}...</a></div>
                                </td>
                                <td class="col-xs-1" data-title="'User'" sortable="'UserName'">
                                    <div ng-bind-html="log.username | highlight: tableParams.filter.search"></div>
                                </td>                                
                                <td class="col-xs-1" data-title="'Date'" sortable="'Date'">
                                    <div ng-bind-html="log.date | highlight: tableParams.filter.search"></div>
                                </td>
                                <td class="col-xs-1" data-title="'Location'" sortable="'Location'">
                                    <div ng-bind-html="log.location | highlight: tableParams.filter.search"></div>
                                </td>
                            </tr>
                            <tr ng-show="tableParams.isReady && tableParams.total() == 0">
                                <td colspan="9">
                                    <span>No Data</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>