<div class="panel panel-yellow">
    <div class="panel-heading">
        {{pageName}}
    </div>
    <div class="panel-body">
        <div class="box-register">
            <form name="form" novalidate rc-submit="submit(form)" ng-class="{'submitted':form.$submitted}">
                <fieldset ng-init="editFormLoaded(form)">
                   
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <div class="row">
                                        <br />
                                        <div>
                                            <div ng-if="editMode" class="col-xs-12 panel panel-white panel-body">
                                                <!--TODO: replace img tag with div version-->
                                                <img ng-if="newImageAdded" ngf-src="product.image" on-error-src="No Image" on-load="Public/content/images/pageloader/loader8.GIF"
                                                     class="product-image-edit" />
                                                <div ng-if="!newImageAdded" afkl-lazy-image="{{product.imageUrl}} 480w, {{product.imageUrl}} 768w, {{product.imageUrl}}" on-error-src="No Image" on-load="Public/content/images/pageloader/loader8.GIF"
                                                     class="afkl-lazy-wrapper afkl-img-ratio-1-1"></div>
                                            </div>
                                            <div ng-if="!editMode" class="col-xs-12 panel panel-white panel-body">
                                                <div ng-if="!newImageAdded">No Image</div>
                                                <img ng-if="newImageAdded" ngf-src="product.image" on-error-src="No Image" on-load="Public/content/images/pageloader/loader8.GIF"
                                                     class="product-image-edit" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <br />
                                                <a ngf-select ng-model="product.image" name="file" ng-click="newImageAdded=true" ng-init="newImageAdded = false" accept="image/*" ngf-max-size="10MB" class="btn btn-dark-azure pull-right">Upload</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-8">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="checkbox clip-check check-primary">
                                            <input type="checkbox" id="isActive" ng-model="product.isActive" ng-checked="product.isActive">
                                            <label for="isActive">Active</label>
                                        </div>
                                        <div class="checkbox clip-check check-primary">
                                            <input type="checkbox" id="isTemplate" ng-model="product.isTemplate" ng-checked="product.isTemplate">
                                            <label for="isTemplate">Product Is Template</label>
                                        </div>
                                    </div>
                                    <div class="col-xs-6" ng-if="!product.isTemplate">
                                        <div class="checkbox clip-check check-primary">
                                            <input type="checkbox" id="availableOutsideTemplate" ng-model="product.availableOutsideTemplate" ng-checked="product.availableOutsideTemplate">
                                            <label for="availableOutsideTemplate">Available for order outside template</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-xs-6" ng-class="{ 'has-error' : form.displayName.$invalid && !form.$pristine }">
                                        <label>Display Name</label>
                                        <input type="text" ng-model="product.displayName" required class="form-control" name="displayName">
                                        <p ng-show="form.displayName.$invalid && !form.$pristine" class="help-block">Required.</p>
                                    </div>
                                    <div class="form-group col-xs-6">
                                        <label>External Code</label>
                                        <input type="text" ng-model="product.externalCode" class="form-control" name="externalCode">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-xs-12">
                                        <label>Select Categories</label>
                                        <ui-select multiple ng-model="product.selectedCategories" theme="bootstrap">
                                            <ui-select-match>
                                                {{$item.name}}
                                            </ui-select-match>
                                            <ui-select-choices repeat="productCategory.id as productCategory in productCategories">
                                                <div ng-bind-html="productCategory.name | highlight: $select.search"></div>
                                                <!--<small ng-bind-html="accountGroup.city | highlight: $select.search"></small>-->
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-xs-12">
                                        <label>Short Description 1</label>
                                        <input type="text" ng-model="product.shortDescription" class="form-control" name="shortDescription1">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-xs-12">
                                        <label for="ShortDescription2">Short Description 2</label>
                                        <input id="ShortDescription2" type="text" ng-model="product.shortDescription2" class="form-control" name="shortDescription2">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label>Portal Description</label>
                                <textarea ng-model="product.portalDescription" class="form-control autosize area-animated msd-elastic: \n;"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row" ng-if="editMode">
                        <div class="form-group col-xs-12">
                            <div ng-include="'Public/app/products/views/shared/priceSheetItemsTable.html'"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="pull-right">
                                <page-loader ng-if="form.$submitted && form.$valid" size="32x32"></page-loader>
                                <button type="submit" class="btn btn-dark-azure ">
                                    Save
                                    <i class="fa fa-arrow-circle-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
