﻿<div ng-controller="PriceSheetItemsListCtrl">
    <div ng-controller="ProductNestedPPSItemsListCtrl">
        <div class="panel panel-green">
            <div class="panel-heading">
                <h4 class="panel-title">Price Sheet Items</h4>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-xs-6">
                        <span class="input-icon input-icon-right">
                            <input ng-model="tableParams.filter.search"
                                   ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 300, 'blur': 1 } }"
                                   name="searchItems" placeholder="Search..." class="form-control" type="text">
                            <i class="ti-search"></i>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="table-responsive" block-ui="priceSheetItemsTableBlock">
                            <table ng-table="tableParams" class="table table-hover table-bordered table-advanced">
                                <tr ng-repeat="priceSheetItem in $data">
                                    <td class="col-xs-4" data-title="'Company'" sortable="'ProductPriceSheet.Company.Name'">
                                        <div ng-bind-html="priceSheetItem.companyName | highlight: tableParams.filter.search"></div>
                                    </td>
                                    <td class="col-xs-3" data-title="'Price Sheet'" sortable="'ProductPriceSheet.Name'">
                                        <div ng-bind-html="priceSheetItem.priceSheetName | highlight: tableParams.filter.search"></div>
                                    </td>
                                    <td class="col-xs-1 center" data-title="'Selling'" sortable="'PriceSelling'">{{priceSheetItem.priceSelling}}</td>
                                    <td class="col-xs-1 center" data-title="'Rental'" sortable="'PriceRental'">{{priceSheetItem.priceRental}}</td>
                                    <td class="col-xs-1 center" data-title="'Daily'" sortable="'PriceDaily'">{{priceSheetItem.priceDaily}}</td>
                                    <td class="col-xs-2" data-title="'Selling Allowed'" sortable='IsSellingAllowed'>
                                        <div class="checkbox clip-check check-primary">
                                            <input id="{{priceSheetItem.id}}_{{priceSheetItem.productId}}" ng-model="priceSheetItem.isSellingAllowed" type="checkbox" ng-disabled="true">
                                            <label for="{{priceSheetItem.id}}_{{priceSheetItem.productId}}"></label>
                                        </div>
                                    </td>
                                </tr>
                                <tr ng-show="tableParams.isReady && tableParams.total() == 0">
                                    <td colspan="6">
                                        <span>No Data</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
