﻿<div ng-controller="ProductTemplateItems">
    <div>
        <div class="panel panel-green">
            <div class="panel-heading">
                <h4 class="panel-title">Template Items</h4>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-xs-6">
                        <ui-select ng-model="local.productItemId" theme="bootstrap" ng-disabled="!local.companyId" ng-change="productSelected()">
                            <ui-select-match placeholder="Search a Product...">
                                <span title="{{$select.selected.displayName}}">{{$select.selected.displayName}}</span>
                            </ui-select-match>
                            <ui-select-choices repeat="productItem.id as productItem in products" refresh="searchProducts($select.search)" refresh-delay="300">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="col-xs-3">
                                            <div afkl-lazy-image="{{productItem.imageUrl}} 480w, {{productItem.imageUrl}} 768w, {{productItem.imageUrl}}" afkl-l afkl-lazy-ima afkl-lazy-image-options="{'nolazy': true}" on-error-src="No Image" on-load="Public/content/images/pageloader/loader8.GIF"
                                                 class="afkl-lazy-wrapper afkl-img-ratio-1-1 img-inside-select"></div>
                                        </div>
                                        <div class="col-xs-9">
                                            <div ng-bind-html="productItem.displayName |uppercase | highlight: $select.search"></div>
                                            <div>
                                                <small ng-if="productItem.shortDescription" ng-bind-html="productItem.shortDescription |uppercase | highlight: $select.search"></small>
                                                <small ng-if="productItem.shortDescription2 && !productItem.shortDescription" ng-bind-html="productItem.shortDescription2 |uppercase | highlight: $select.search"></small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="form-group col-xs-6">
                        <ui-select ng-model="local.companyId" theme="bootstrap" ng-change="companySelected()">
                            <ui-select-match allow-clear placeholder="Select a Company...">
                                <span title="{{$select.selected.name}}">{{$select.selected.name}}</span>
                            </ui-select-match>
                            <ui-select-choices repeat="company.id as company in companies| filter: $select.search" >
                                <div ng-bind-html="company.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="table-responsive" block-ui="productTemplateItemsTableBlock">
                            <table ng-table="tableParams" class="table table-hover table-bordered table-advanced">
                                <tr ng-repeat="templateItem in $data" class="template-item">
                                    <td class="col-xs-2" data-title="'Company'" sortable="'Company.Name'">{{templateItem.companyName}}</td>
                                    <td class="col-xs-2" data-title="'Product Name'" sortable="'ChildProduct.DisplayName'">
                                        {{templateItem.childProductName}}
                                    </td>
                                    <td class="col-xs-2" data-title="'Description 1'" sortable="'ChildProduct.ShortDescription'">
                                        <span>{{templateItem.childProductDescription}}</span>
                                    </td>
                                    <td class="col-xs-2" data-title="'Description 2'" sortable="'ChildProduct.ShortDescription2'">
                                        <span>{{templateItem.childProductDescription2}}</span>
                                    </td>
                                    <td class="col-xs-3 center" data-title="'Quantity'" sortable="'Quantity'">
                                        <a editable-number="templateItem.quantity" e-min="0" onbeforesave="validateQuantity($data)" onaftersave="updateTemplateItem(templateItem)">
                                            {{templateItem.quantity}}
                                        </a>
                                    </td>
                                    <td class="col-xs-1" data-title="">
                                        <a ng-click="inactivate(templateItem)" class="btn btn-danger btn-sm"><i class="fa fa-remove"/>Remove</a>
                                    </td>
                                </tr>
                                <tr ng-show="tableParams.isReady && tableParams.total() == 0">
                                    <td colspan="6">
                                        <span>No Data</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>