<div ng-controller="CreateOrderCtrl">
    <div class="row">
        <div class="col-md-10">
            <div class="widget widget-blue">
                <h4 class="widget-title">New Order</h4>
                <div class="widget-content">
                    <div class="box-register">
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <div class="radio clip-radio radio-primary radio-inline">
                                    <input type="radio" id="NewOrder" name="createType" value="newOrder" ng-model="local.createType">
                                    <label for="NewOrder">
                                        New Order
                                    </label>
                                </div>
                                <div class="radio clip-radio radio-primary radio-inline">
                                    <input type="radio" id="Pickup" name="createType" value="pickup" ng-model="local.createType">
                                    <label for="Pickup">
                                        Pickup
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-white">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="form-group col-xs-6">
                                        <label>Account Group</label>
                                        <ui-select ng-if="isInRole('Supplier')" ng-model="local.selectedAccountGroupId" ng-change="accountGroupSelected()" theme="bootstrap">
                                            <ui-select-match placeholder="Search an Account Group...">
                                                <span title="{{$select.selected.name}}">{{$select.selected.name}}</span>
                                            </ui-select-match>
                                            <ui-select-choices repeat="accountGroup.id as accountGroup in accountGroups" refresh="searchAccountGroups($select.search)" refresh-delay="300">
                                                <div ng-bind-html="accountGroup.name | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                        <div ng-if="isInRole('Account')">
                                            {{local.selectedAccountGroupName}}
                                        </div>
                                    </div>
                                    <div class="form-group col-xs-6">
                                        <label>Account</label>
                                        <ui-select ng-if="!local.isAccountSelectionDisabled" ng-model="local.selectedAccount" theme="bootstrap" ng-change="accountSelected()" ng-disabled="!local.selectedAccountGroupId">
                                            <ui-select-match placeholder="Search an Account...">
                                                <span title="{{$select.selected.name}}">{{$select.selected.name}}</span>
                                            </ui-select-match>
                                            <ui-select-choices repeat="account in accounts" refresh="searchAccounts($select.search, local.selectedAccountGroupId)" refresh-delay="300">
                                                <div ng-bind-html="account.name | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                        <div ng-if="local.isAccountSelectionDisabled">
                                            {{local.selectedAccount.name}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!--PATIENT's SECTION-->
                            <div class="col-sm-12 col-md-12">
                                <form name="patientForm" id="patientForm" novalidate ng-submit="updatePatient(patientForm)" ng-class="{'submitted': patientSubmitted}">
                                    <div class="panel panel-white">
                                        <div class="panel-body">
                                            <div class="widget-header">Patient</div>
                                            <div class="row">
                                                <div class="form-group col-xs-12">
                                                    <div class="radio clip-radio radio-primary radio-inline">
                                                        <input type="radio" id="NewPatient" name="useExistingPatient" value="false" ng-model="local.useExistingPatient">
                                                        <label for="NewPatient">New Patient</label>
                                                    </div>
                                                    <div class="radio clip-radio radio-primary radio-inline">
                                                        <input type="radio" id="ExistingPatient" name="useExistingPatient" value="true" ng-model="local.useExistingPatient">
                                                        <label for="ExistingPatient">Existing Patient</label>
                                                    </div>
                                                    <br />
                                                </div>
                                                <div ng-if="local.useExistingPatient == 'true'" class="col-xs-12">
                                                    <ui-select ng-model="local.selectedExistingPatient" theme="bootstrap" ng-disabled="!local.selectedAccount" ng-change="existingPatientSelected()">
                                                        <ui-select-match placeholder="Search a patient...">
                                                            <span title="{{$select.selected.lastName}}">{{$select.selected.lastName|uppercase}} {{$select.selected.firstName|uppercase}}</span>
                                                        </ui-select-match>
                                                        <ui-select-choices repeat="patient in existingPatients" refresh="searchPatients($select.search, local.selectedAccount.id)" refresh-delay="300">
                                                            <div>
                                                                <span>{{patient.lastName|uppercase}}, {{patient.firstName|uppercase}}</span>
                                                                <span class="pull-right" ng-if="patient.birthDateValue">
                                                                    DOB: {{patient.birthDateValue | date: settings.dateFormat}}
                                                                </span>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-xs-12" ng-if="patient.gender || patient.ssn">
                                                                    <small ng-if="patient.gender">
                                                                        {{patient.gender}}
                                                                    </small>
                                                                    <small class="pull-right" ng-if="patient.ssn">
                                                                        SSN: {{patient.ssn}}
                                                                    </small>
                                                                </div>
                                                                <small class="col-xs-12" ng-if="patient.facilityName">
                                                                    Facility: {{patient.facilityName}}
                                                                </small>
                                                            </div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                            </div>
                                            <!--Patient Edit Form-->
                                            <div id="patientEditForm" collapse="local.useExistingPatient == 'true' && !local.editExistingPatient">
                                                <div class="row">
                                                    <div class="form-group col-xs-12">
                                                        <label>Facility</label>
                                                        <ui-select ng-model="patient.facilityId" theme="bootstrap" ng-disabled="!local.selectedAccount" ng-change="facilitySelected()">
                                                            <ui-select-match placeholder="Search a Facility...">
                                                                <span title="{{$select.selected.name}}">{{$select.selected.name}}</span>
                                                            </ui-select-match>
                                                            <ui-select-choices repeat="facility.id as facility in facilities" refresh="searchFacilities($select.search, local.selectedAccount.id)" refresh-delay="300">
                                                                <div ng-bind-html="facility.name | highlight: $select.search"></div>
                                                            </ui-select-choices>
                                                        </ui-select>
                                                    </div>
                                                </div>
                                                <div ng-include="'Public/app/patients/views/shared/patientInfoForm.html'"></div>
                                            </div>
                                            <!--Patient Card Form-->
                                            <div ng-if="local.useExistingPatient == 'true' && local.selectedExistingPatient &&  !local.editExistingPatient">
                                                <br />
                                                <div class="row">
                                                    <div class="form-group col-xs-4">
                                                        <div>{{local.selectedExistingPatient.gender}}</div>
                                                        <div>SSN: {{local.selectedExistingPatient.ssn}}</div>
                                                    </div>
                                                    <div class="form-group col-xs-4">
                                                        <div>DOB: {{local.selectedExistingPatient.birthDateValue| date: settings.dateFormat}}</div>
                                                    </div>
                                                    <div class="form-group col-xs-4">
                                                        <div>Phone: {{local.selectedExistingPatient.phone}}</div>
                                                        <div>Email: {{local.selectedExistingPatient.email}}</div>
                                                    </div>
                                                    <div class="form-group col-xs-12">
                                                        <div>Facility: {{local.selectedExistingPatient.facilityName}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row" ng-if="local.useExistingPatient == 'true' && local.selectedExistingPatient">
                                                <div class="col-xs-12">
                                                    <div class="pull-right">
                                                        <a ng-click="local.editExistingPatient = !local.editExistingPatient" class="btn btn-light-azure ">
                                                            <span ng-show="local.editExistingPatient">Cancel</span>
                                                            <span ng-show="!local.editExistingPatient"> Edit Patient</span>
                                                        </a>
                                                        <button ng-show="local.editExistingPatient" ng-click="patientSubmitted = true;" class="btn btn-dark-azure ">
                                                            Save Patient
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row">
                            <!--SHIP TO SECTION-->
                            <div class="col-sm-12 col-md-12">
                                <div class="panel panel-white">
                                    <div class="panel-body">
                                        <div class="widget-header">Ship To</div>
                                        <div class="row">
                                            <div class="form-group col-xs-12">
                                                <div class="radio clip-radio radio-primary radio-inline">
                                                    <input type="radio" id="FacilityAddress" name="useFacilityAddress" value="true" ng-disabled="!patient.facilityId" ng-model="local.useFacilityAddress">
                                                    <label for="FacilityAddress">
                                                        Facility Address
                                                    </label>
                                                </div>
                                                <div class="radio clip-radio radio-primary radio-inline">
                                                    <input type="radio" id="PatientAddress" name="useFacilityAddress" value="false" ng-model="local.useFacilityAddress">
                                                    <label for="PatientAddress">
                                                        Patient Address
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <!--facility's address-->
                                        <div ng-if="local.useFacilityAddress == 'true'">
                                            <div ng-if="patientFacility.street1">
                                                <strong>{{patientFacility.street1}}</strong>
                                            </div>
                                            <div ng-if="patientFacility.street2">
                                                <span>{{patientFacility.street2}}</span>
                                            </div>
                                            <div ng-if="patientFacility.city || patientFacility.state || patientFacility.zip">
                                                <span>{{patientFacility.city}} {{patientFacility.state}} {{patientFacility.zip}}</span>
                                            </div>
                                            <div ng-if="patientFacility.contactName">
                                                <span>Contact: {{patientFacility.contactName}}</span>
                                            </div>
                                            <div ng-if="patientFacility.contactPhone">
                                                <span>Phone: {{patientFacility.contactPhone}}</span>
                                            </div>
                                        </div>
                                        <!--patient's address-->
                                        <div ng-if="local.useFacilityAddress == 'false'">
                                            <div ng-if="patient.street1">
                                                <strong>{{patient.street1}}</strong>
                                            </div>
                                            <div ng-if="patient.street2">
                                                <span>{{patient.street2}}</span>
                                            </div>
                                            <div ng-if="patient.city || patient.state || patient.zip">
                                                <span>{{patient.city}} {{patient.state}} {{patient.zip}}</span>
                                            </div>
                                            <div ng-if="patient.contactName">
                                                <span>Contact: {{patient.contactName}}</span>
                                            </div>
                                            <div ng-if="patient.contactPhone">
                                                <span>Phone: {{patient.contactPhone}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--ORDER DETAILS SECTION-->
                        <div>
                            <div class="widget widget-blue">
                                <div class="widget-title">Order Items</div>
                                <div class="widget-content">
                                    <div ng-include="'Public/app/orders/orderLineItems/views/orderItemsSearch.html'"></div>
                                </div>
                            </div>
                            <!--OTHER SECTION-->
                            <div class="panel panel-white">
                                <div class="panel-body">
                                    <div class="widget-header">Other</div>
                                    <div class="row">
                                        <div class="form-group col-xs-4">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <label>Delivery Date Request</label>
                                                    <input type="text" class="form-control"  ng-model="local.requestedDeliveryDateValue" ng-click="local.isRequestedDeliveryDateOpen = !local.isRequestedDeliveryDateOpen" datepicker-popup="{{settings.dateFormat}}" is-open="local.isRequestedDeliveryDateOpen" close-text="Close" />
                                                </div>
                                                <div class="col-xs-12">
                                                    <label>Delivery Time Request</label>
                                                </div>
                                                <div class="col-xs-12">
                                                    <ui-select ng-model="local.deliveryTime" theme="bootstrap">
                                                        <ui-select-match>
                                                            <span title="{{$select.selected.label}}">{{$select.selected.label}}</span>
                                                        </ui-select-match>
                                                        <ui-select-choices repeat="time in deliveryTimes">
                                                            <div ng-bind-html="time.label | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group col-xs-8">
                                            <label>Special Notes</label>
                                            <textarea type="text" rows="4" ng-model="local.deliveryNotes" class="form-control" name="physicianLastName"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="pull-right">
                                        <button ng-click="submit(patientForm, false)" class="btn btn-iconed btn-round btn-default main-buttons-secondary">
                                            <i class="fa fa-save"></i>
                                            Save
                                        </button>
                                        <button ng-click="submit(patientForm, true)" class="btn btn-iconed btn-round btn-default main-buttons">
                                            <i class="fa fa-bolt"></i>
                                            Submit
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>