<div ng-controller="EditOrderCtrl">
    <div class="row">
        <div class="col-md-10">
            <div class="widget widget-blue">
                <h4 class="widget-title" ng-click="enablePPSITEMS()">New Order</h4>
                <div class="widget-content">
                    <div class="box-register">
                        <div class="row">
                            <div class="form-group col-xs-6">
                                <label>Account Group:&nbsp; </label>
                                {{order.accountGroupName}}
                            </div>
                            <div class="form-group col-xs-6">
                                <label>Account:&nbsp; </label>
                                {{order.accountName}}
                            </div>
                        </div>
                        <div class="row">
                            <!--PATIENT's SECTION-->
                            <div class="col-sm-12 col-md-6">
                                <form name="patientForm" id="patientForm" novalidate>
                                    <div class="panel panel-white">
                                        <div class="panel-body">
                                            <div class="widget-header">Patient</div>
                                            <h4>{{order.patient.lastName|uppercase}}, {{order.patient.firstName|uppercase}}</h4>
                                            <!--Patient Card Form-->
                                            <div ng-if="!local.editPatient">
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <div><label>Gender:&nbsp; </label>{{order.patient.gender}}</div>
                                                        <div><label>SSN:&nbsp; </label>{{order.patient.ssn}}</div>
                                                        <div><label>DOB:&nbsp;</label>{{order.patient.birthDate| date: settings.dateFormat}}</div>
                                                    </div>
                                                    <div class="col-xs-12">
                                                        <div><label>Phone:&nbsp;</label>{{order.patient.phone}}</div>
                                                        <div><label>Email:&nbsp;</label>{{order.patient.email}}</div>
                                                    </div>
                                                    <div class="col-xs-12">
                                                        <div><label>Facility:&nbsp;</label>{{order.patient.facilityName}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!--SHIP TO SECTION-->
                            <div class="col-sm-12 col-md-6">
                                <div class="panel panel-white">
                                    <div class="panel-body">
                                        <div class="widget-header">Ship To</div>

                                        <div class="row">
                                            <div class="form-group col-xs-12" style="margin-bottom: 6px;">
                                                <label>Street Address 1</label>
                                                <input type="text" ng-model="order.shippingStreet1" class="form-control" name="street1">
                                            </div>
                                            <div class="form-group col-xs-12" style="margin-bottom: 6px;">
                                                <label>Street Address 2</label>
                                                <input type="text" ng-model="order.shippingStreet2" class="form-control" name="street2">
                                            </div>
                                            <div class="form-group">
                                                <div class="col-xs-4">
                                                    <label>City</label>
                                                    <input type="text" ng-model="order.shippingCity" class="form-control" name="city">
                                                </div>
                                                <div class="col-xs-4">
                                                    <label>State</label>
                                                    <input type="text" ng-model="order.shippingState" class="form-control" name="state">
                                                </div>
                                                <div class="col-xs-4">
                                                    <label>Zip</label>
                                                    <input type="text" ng-model="order.shippingZip" class="form-control" name="zip">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--ORDER DETAILS SECTION-->
                        <div>
                            <div class="widget widget-orange">
                                <div class="widget-title">Order Items</div>
                                <div class="panel-body">
                                    <div ng-include="'Public/app/orders/orderLineItems/views/orderItemsSearch.html'"></div>
                                </div>
                            </div>
                            <!--OTHER SECTION-->
                            <div class="panel panel-white">
                                <div class="panel-body">
                                    <div class="widget-header">Other</div>
                                    <div class="row">
                                        <div class="form-group col-xs-4">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <label>Delivery Date Request</label>
                                                    <input type="text" class="form-control" ng-model="order.requestedDeliveryDateValue" ng-click="local.isRequestedDeliveryDateOpen = !local.isRequestedDeliveryDateOpen" datepicker-popup="{{settings.dateFormat}}" is-open="local.isRequestedDeliveryDateOpen" close-text="Close" />
                                                </div>
                                                <div class="col-xs-12">
                                                    <label>Delivery Time Request</label>
                                                </div>
                                                <div class="col-xs-12">
                                                    <ui-select ng-model="order.deliveryTime" theme="bootstrap">
                                                        <ui-select-match>
                                                            <span title="{{$select.selected.label}}">{{$select.selected.label}}</span>
                                                        </ui-select-match>
                                                        <ui-select-choices repeat="time in deliveryTimes">
                                                            <div ng-bind-html="time.label | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group col-xs-8">
                                            <label>Special Notes</label>
                                            <textarea type="text" rows="4" ng-model="order.deliveryNotes" class="form-control" name="physicianLastName"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="pull-right">
                                        <button ng-click="submit(patientForm, false)" class="btn btn-iconed btn-round btn-default main-buttons">
                                            <i class="fa fa-save"></i>
                                            Save
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>