<div ng-controller="AllOrdersCtrl">
    <div class="widget widget-blue">
        <div class="widget-title"><h3>Orders</h3></div>
        <div class="widget-content">
            <div class="row">
                <div class="form-group col-xs-6">
                    <span class="input-icon input-icon-right">
                        <input ng-model="tableParams.filter.search" ng-model-options="{ updateOn: 'default blur', debounce: { 'default':
 300, 'blur': 1 } }" name="patientsFilter" placeholder="Search By #" class="form-control" type="text">
                        <i class="ti-search"></i>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive" block-ui="ordersTableBlock">
                        <table ng-table="tableParams" class="table table-hover table-striped table-bordered table-advanced">
                            <tr ng-repeat="order in $data">
                                <td data-title="" class="center">
                                    <a ui-sref="app.orders.view({orderId:order.id})" class="btn btn-xs">
                                        <i class="fa fa-edit tableicon"></i>
                                    </a>
                                </td>
                                <td data-title="'Id'" sortable="'Id'">{{order.id}}</td>
                                <td data-title="'Patient'" sortable="'PatientLastName'">{{order.patient.lastName}},&nbsp;{{order.patient.firstName}}</td>
                                <td data-title="'State'" sortable="'OrderState.Id'">
                                    <!--TODO: create directive to show state name-->
                                    <span class="label label-danger" ng-if="order.orderStateId == orderStates.DME_HOLD">On Hold</span>
                                    
                                    <span class="label label-grey" ng-if="isInRole('Account') && (order.orderStateId == orderStates.DME_APPROVAL_REQUIRED || order.orderStateId == orderStates.DME_ACCEPTED)">Submitted</span>
                                    
                                    <span ng-if="(order.orderStateId != orderStates.DME_HOLD) && (!isInRole('Account') || (order.orderStateId != orderStates.DME_APPROVAL_REQUIRED && order.orderStateId != orderStates.DME_ACCEPTED)) ">
                                        <span class="label label-grey" ng-if="order.orderStateId == orderStates.SAVED">{{order.orderStateName}}</span>
                                        <span class="label label-success" ng-if="order.orderStateId == orderStates.DME_ACCEPTED || order.orderStateId == orderStates.COMPLETED">{{order.orderStateName}}</span>
                                        <span class="label label-danger" ng-if="order.orderStateId == orderStates.ACCOUNT_REJECTED || order.orderStateId == orderStates.CANCELLED || order.orderStateId == orderStates.DME_CANCELLED">{{order.orderStateName}}</span>
                                        <span class="label label-warning" ng-if="order.orderStateId == orderStates.APPROVAL_REQUIRED || order.orderStateId == orderStates.DME_APPROVAL_REQUIRED">{{order.orderStateName}}</span>
                                    </span>
                                </td>
                                <td data-title="'Type'" sortable="'OrderType.Name'">{{order.orderTypeName}}</td>
                                <td data-title="'Created'" sortable="'orderDate'">{{order.orderDate | date:'MMM dd, yyyy'}}</td>
                                <td data-title="'Company'" sortable="'Company.Name'">{{order.companyName}}</td>
                                <td data-title="'Account Group'" sortable="'Account.AccountGroup.Name'">{{order.accountGroupName}}</td>
                                <td data-title="'Account'" sortable="'Account.Name'">{{order.accountName}}</td>
                            </tr>
                            <tr ng-show="tableParams.isReady && tableParams.total() == 0">
                                <td colspan="9">
                                    <span>No Data</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <a ui-sref="app.orders.create" class="btn btn-iconed btn-round btn-default main-buttons" href="#/app/orders/create">
                        <i class="fa fa-truck"></i>
                        New Order
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
