<div ng-controller="OrderViewCtrl">
    <div class="row">
        <div class="col-md-10">
            <div class="widget widget-blue">
                <h4 class="widget-title">Order {{order.id}}</h4>
                <div class="widget-content">
                    <div class="box-register">
                        <div class="row" style="padding: 8px">
                            <div class="col-sm-12 col-md-12" >
                                <div class="pull-left" ng-class="{'col-lg-8 col-md-6 col-sm-6': acceptOrderActions.length || declineOrderActions.length || isOrderEditable.length, 'col-lg-12 col-md-12 col-sm-12':!acceptOrderActions.length && !declineOrderActions.length && !isOrderEditable.length}" style="padding-left: 0px">
                                    <div class="col-md-7 col-sm-12" style="padding-left: 0px">
                                        <div>
                                            <label class="label-status">Order Status:&nbsp;</label>
                                            <!--TODO: create directive to show state name-->
                                            <span ng-if="order.orderStateId == orderStates.DME_HOLD">On Hold</span>
                                            <span ng-if="isInRole('Account') && (order.orderStateId == orderStates.DME_APPROVAL_REQUIRED || order.orderStateId == orderStates.DME_ACCEPTED)">Submitted</span>
                                            <span ng-if="(order.orderStateId != orderStates.DME_HOLD) && (!isInRole('Account') || (order.orderStateId != orderStates.DME_APPROVAL_REQUIRED && order.orderStateId != orderStates.DME_ACCEPTED)) ">
                                                {{order.orderStateName}}
                                            </span>
                                        </div>
                                        <div>
                                            <label class="label-status">Submitted:&nbsp;</label>
                                            <span>
                                                {{order.submittedAt | date:'MMM dd, yyyy'}}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-5 col-sm-12" style="padding-left: 0px">
                                        <div>
                                            <label class="label-status">Created By:&nbsp;</label>
                                            <span>
                                                {{order.createdByName}}
                                            </span>
                                        </div>
                                        <div>
                                            <label class="label-status">Submitted By:&nbsp;</label>
                                            <span>
                                                {{order.submittedByName}}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="btn-toolbar pull-right" ng-if="acceptOrderActions || declineOrderActions || isOrderEditable">
                                    <span ng-repeat="action in acceptOrderActions">
                                        <button ng-click="setState(action.orderState)" class="btn btn-iconed btn-round btn-success btn-sm"><i class="fa fa-check"></i>{{action.actionName}}</button>
                                    </span>
                                    <span ng-show="isOrderEditable">
                                        <a ui-sref="app.orders.edit({orderId:order.id})" class="btn btn-iconed btn-round btn-default btn-sm"><i class="fa fa-edit"></i>Edit</a>
                                    </span>
                                    <span ng-repeat="action in declineOrderActions">
                                        <button ng-click="setState(action.orderState)" class="btn btn-iconed btn-round btn-danger btn-sm">
                                            <i ng-show="action.orderState != orderStates.DME_HOLD" class="fa fa-thumbs-o-down"></i>
                                            {{action.actionName}}
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-white">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="form-group col-xs-6">
                                        <label>Account Group:&nbsp; </label>
                                        {{order.accountGroupName}}
                                    </div>
                                    <div class="form-group col-xs-6">
                                        <label>Account:&nbsp; </label>
                                        {{order.accountName}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!--PATIENT's SECTION-->
                            <div class="col-sm-12 col-md-7">
                                <form name="patientForm" id="patientForm" novalidate>
                                    <div class="panel panel-white">
                                        <div class="panel-body">
                                            <div class="widget-header">Patient</div>
                                            <h4>{{order.patient.lastName|uppercase}}, {{order.patient.firstName|uppercase}}</h4>
                                            <!--Patient Card Form-->
                                            <div ng-if="!local.editPatient">
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <div><label>Gender:&nbsp; </label>{{order.patient.gender}}</div>
                                                        <div><label>SSN:&nbsp; </label>{{order.patient.ssn}}</div>
                                                        <div><label>DOB:&nbsp;</label>{{order.patient.birthDate| date: settings.dateFormat}}</div>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <div><label>Phone:&nbsp;</label>{{order.patient.phone}}</div>
                                                        <div><label>Email:&nbsp;</label>{{order.patient.email}}</div>
                                                    </div>
                                                    <div class="col-xs-12">
                                                        <div><label>Facility:&nbsp;</label>{{order.patient.facilityName}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!--SHIP TO SECTION-->
                            <div class="col-sm-12 col-md-5">
                                <div class="panel panel-white">
                                    <div class="panel-body">
                                        <div class="widget-header">Ship To</div>
                                        <!--facility's address-->
                                        <div class="row">
                                            <div class="form-group col-xs-12">
                                                <div>
                                                    <label>Street Address 1:&nbsp;</label>
                                                    {{order.shippingStreet1}}
                                                </div>
                                                <div>
                                                    <label>Street Address 2:&nbsp;</label>
                                                    {{order.shippingStreet2}}
                                                </div>
                                                <div>
                                                    <label>City:&nbsp;</label>
                                                    {{order.shippingCity}}
                                                </div>
                                                <div>
                                                    <label>State:&nbsp;</label>
                                                    {{order.shippingState}}
                                                </div>
                                                <div>
                                                    <label>Zip:&nbsp;</label>
                                                    {{order.shippingZip}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--ORDER DETAILS SECTION-->
                        <div>
                            <div class="widget widget-orange">
                                <div class="widget-title">Order Details</div>
                                <div class="widget-content">
                                    <div ng-include="'Public/app/orders/orderLineItems/views/orderItemsSearch.html'"></div>
                                </div>
                            </div>
                        </div>
                        <!--OTHER SECTION-->
                        <div class="panel panel-orange">
                            <div class="panel-heading">
                                <h4 class="panel-title">Other</h4>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="form-group col-xs-4">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div>
                                                    <label>Delivery Date Request:&nbsp;</label>
                                                    <div>{{order.requestedDeliveryDate| date: settings.dateFormat}}</div>
                                                </div><br />
                                                <div>
                                                    <label>Delivery Time Request:&nbsp;</label>
                                                    <div ng-show="order.deliveryTime">
                                                        {{order.deliveryTime.label}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-xs-8">
                                        <label>Special Notes:&nbsp;</label>
                                        <div>{{order.deliveryNotes}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>