<!-- start: DASHBOARD TITLE -->
<section id="page-title" class="padding-top-15 padding-bottom-15">
    <div class="row">
        <div class="col-sm-7">
            <h1 class="mainTitle" translate="dashboard.WELCOME" translate-values="{ appName: app.name }">{{ mainTitle }}</h1>
            <!--<span class="mainDescription">overview &amp; stats </span>-->
        </div>
        <div class="col-sm-5">
            <!-- start: MINI STATS WITH SPARKLINE -->
            <!-- /// controller:  'SparklineCtrl' -  localtion: assets/js/controllers/dashboardCtrl.js /// -->
            <div class="mini-stats pull-right" ng-controller="HomeCtrl">
                <table>
                    <tr ng-repeat="item in testEntities">
                        <td>{{item.name}}</td>
                    </tr>
                </table>
            </div>
            <!-- end: MINI STATS WITH SPARKLINE -->
        </div>
    </div>
</section>
<!-- start: FEATURED BOX LINKS -->
<div class="container-fluid container-fullw bg-white">
    <div class="col-lg-12 col-sm-12 ng-scope" ng-controller="SpendingProjectionCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">Line Chart</div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-xs-6">
                        <label>Account Group</label>
                        <ui-select ng-model="local.selectedAccountGroupId" ng-change="accountGroupSelected()" theme="bootstrap">
                            <ui-select-match placeholder="Search an Account Group...">
                                <span title="{{$select.selected.name}}">{{$select.selected.name}}</span>
                            </ui-select-match>
                            <ui-select-choices repeat="accountGroup.id as accountGroup in accountGroups" refresh="searchAccountGroups($select.search)"
                                               refresh-delay="300">
                                <div ng-bind-html="accountGroup.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="form-group col-xs-6">
                        <label>Account</label>
                        <ui-select ng-model="local.selectedAccountId" theme="bootstrap" ng-change="accountSelected()" ng-disabled="!local.selectedAccountGroupId">
                            <ui-select-match placeholder="Search an Account...">
                                <span title="{{$select.selected.name}}">{{$select.selected.name}}</span>
                            </ui-select-match>
                            <ui-select-choices repeat="account in accounts" refresh="searchAccounts($select.search, local.selectedAccountGroupId)" refresh-delay="300">
                                <div ng-bind-html="account.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div id="line-chart">
                    <div class="chart-container"><canvas id="line" class="chart chart-line ng-isolate-scope" chart-data="data" chart-labels="labels" chart-legend="true" chart-click="onClick" chart-hover="onHover" chart-series="series" width="523" height="261" style="width: 523px; height: 261px;"></canvas><chart-legend><ul class="line-legend"><li><span style="background-color:rgba(151,187,205,1)"></span>Series C</li><li><span style="background-color:rgba(220,220,220,1)"></span>Series D</li></ul></chart-legend></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-white no-radius text-center">
                <div class="panel-body">
                    <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa ti-user fa-stack-2x fa-inverse"></i> </span>
                    <h2 class="StepTitle">Manage Users</h2>
                    <p class="text-small">
                        To add users, you need to be signed in as the Supplier user.
                    </p>
                    <p class="links cl-effect-1">
                        <a href>
                            view more
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-white no-radius text-center">
                <div class="panel-body">
                    <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa ti-layout-grid2 fa-stack-2x fa-inverse"></i> </span>
                    <h2 class="StepTitle">Manage Accounts</h2>
                    <p class="text-small">
                        The Manage Accounts.
                    </p>
                    <p class="cl-effect-1">
                        <a href>
                            view more
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end: FEATURED BOX LINKS -->
