<div ng-controller="AllAccountsGroupsCtrl">
    <div class="panel panel-blue">
        <div class="panel-heading">Account Groups</div>
        <div class="panel-body">
            <div class="row">
                <div class="form-group col-xs-6">
                    <span class="input-icon input-icon-right">
                        <input ng-model="tableParams.filter.search" ng-model-options="{ updateOn: 'default blur', debounce: { 'default':
 300, 'blur': 1 } }" name="accountName" placeholder="Search..." class="form-control" type="text">
                        <i class="ti-search"></i>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="checkbox clip-check check-primary">
                        <input type="checkbox" id="showInactive" value="1">
                        <label for="showInactive" ng-click="includeInactive = !includeInactive">
                            Include Inactive
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive" block-ui="accountGroupsTableBlock">
                        <table ng-table="tableParams" class="table table-hover table-bordered table-advanced" id="sample-table-1">
                            <tr ng-repeat="accountGroup in $data">
                                <td data-title="">
                                    <div class="checkbox clip-check check-primary">
                                        <input id="{{accountGroup.id}}" ng-model="selectedAccountGroupsIds[accountGroup.id]" ng-disabled="!accountGroup.isActive" value="1" type="checkbox">
                                        <label for="{{accountGroup.id}}"></label>
                                    </div>
                                </td>
                                <td data-title="" class="center">
                                    <a ui-sref="app.groups.edit({accountGroupId:accountGroup.id})" class="btn btn-warning btn-xs">
                                        <i class="fa fa-edit"></i>&nbsp;
                                        Edit
                                    </a>
                                </td>
                                <td class="col-xs-2" data-title="'Name'" sortable="'Name'">
                                    <div ng-bind-html="accountGroup.name | highlight: tableParams.filter.search"></div>
                                </td>
                                <td class="col-xs-2" data-title="'External Code'" sortable="'ExternalCode'">
                                    <div ng-bind-html="accountGroup.externalCode | highlight: tableParams.filter.search"></div>
                                </td>
                                <td class="col-xs-1" data-title="'City'" sortable="'City'">{{accountGroup.city}}</td>
                                <td class="col-xs-1" data-title="'State'" sortable="'State'">{{accountGroup.state}}</td>
                                <td class="col-xs-1" data-title="'Contact Name'" sortable="'ContactName'">{{accountGroup.contactName}}</td>
                                <td class="col-xs-1" data-title="'Contact Phone'" sortable="'ContactPhone'">{{accountGroup.contactPhone}}</td>
                                <td class="col-xs-2" data-title="'Contact Email'" sortable="'ContactEmail'">{{accountGroup.contactEmail}}</td>
                                <td class="col-xs-1" data-title="'Active'" sortable="'IsActive'">{{accountGroup.isActive}}</td>
                            </tr>
                            <tr ng-show="tableParams.isReady && tableParams.total() == 0">
                                <td colspan="10">
                                    <span>No Data</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-light-azure" ng-click="inactivateSelectedUsers($event)">
                        Mark Inactive
                    </button>
                    <button ui-sref="app.groups.create" class="btn btn-wide btn-dark-azure">New Account Group</button>
                </div>
            </div>
        </div>
    </div>
</div>