<div class="panel-body pan text-center">
    <table class="table mbn">
        <tbody>

            <tr class="image-container">
                <td class="no-padding">
                    <div style="height:120px" afkl-lazy-image="{{ppsItem.productImageUrl}} 480w, {{ppsItem.productImageUrl}} 768w, {{ppsItem.productImageUrl}}" afkl-lazy-image-options="{'nolazy': true}" on-error-src="<img height='120px' width='100%' src='Public/content/images/no-image.png'>" on-load="Public/content/images/pageloader/loader8.GIF"
                         class="afkl-lazy-wrapper afkl-img-ratio-3-2"></div>
                </td>
            </tr>
            <tr class="active">
                <td>
                    <div class="col-xs-12 no-padding">
                        <div class="col-md-9 no-padding text-left">
                            <a ng-click="decreaseProductQuantity(ppsItem)" class="btn btn-xs quantity"><i class="fa fa-minus"></i></a>
                            <a ng-click="increaseProductQuantity(ppsItem)" class="btn btn-xs quantity"><i class="fa fa-plus"></i></a>
                        </div>
                        <div class="col-md-3 text-nowrap no-padding text-right">
                            <strong ng-if="!ppsItem.isTemplate" class="price">$ {{ppsItem.priceDaily || ppsItem.priceRental || 0 | number:2}}</strong>
                            <strong ng-if="ppsItem.isTemplate && ppsItem.nestedPPSItems.length == 0" class="price">N/A</strong>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="shortDescription">
                        <strong ng-bind-html="ppsItem.productName"></strong>
                    </div>
                    <div class="quantity">
                        <strong ng-if="ppsItem.productShortDescription" ng-bind-html="ppsItem.productShortDescription |uppercase | highlight: params.search"></strong>
                        <strong ng-if="!ppsItem.productShortDescription">no description</strong>
                    </div>
                    <div class="quantity">
                        Qty on Order: {{ppsItem.quantity}}
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>