.main-container {
}

#wrapper, #header-topbar-option-demo {
    border: 1px solid;
}

.submitted input.ng-invalid {
    border: 1px dotted red !important;
}

.ui-select-multiple.ui-select-bootstrap input.ui-select-search {
    max-width: none !important;
}

.ui-select-match-text {
    width: 85%;
    overflow: hidden;
    text-align: left;
}

.ui-select-match .btn {
    padding-left: 7px !important;
}

.ui-select-match a {
    padding: 0px !important;
    margin: 0px !important;
    color: black !important;
}
.ui-select-bootstrap .ui-select-choices-row > a {
    white-space: normal;
}

.ui-select-toggle[disabled] {
    background-color: #f0f2f5 !important;
}

.clip-check input[type="checkbox"]:checked + label:after {
    color: #777777;
    content: "\f00c";
    height: 20px;
    width: 20px;
    font-family: "FontAwesome";
}

.clip-check label {
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    margin-right: 15px;
    padding-left: 30px;
    position: initial;
    line-height: 23px;
    transition: border 0.2s linear 0s, color 0.2s linear 0s;
    white-space: nowrap;
}

    .clip-check label:after {
        display: inline-block;
        font-size: 14px;
        height: 20px;
        left: 1px;
        position: absolute;
        top: -2px;
        transition: border 0s linear 0s, color 0s linear 0s;
        width: 19px;
    }

    .clip-check label:after {
        display: inline-block;
        font-size: 14px;
        height: 20px;
        left: 1px;
        position: absolute;
        top: -2px;
        transition: border 0.2s linear 0s, color 0.2s linear 0s;
        width: 19px;
    }

    .clip-check label:before {
        background-color: white;
        border: 1px solid #ddd;
        content: "";
        display: inline-block;
        height: 16px;
        left: 0;
        margin-right: 16px;
        position: absolute;
        width: 16px;
        border-radius: 0;
        top: 1px;
        transition: border 0s linear 0s, color 0s linear 0s;
    }

.editable-checkbox .clip-check input[type="checkbox"] + label:before {
    height: 28px;
    width: 28px;
}

.editable-checkbox .clip-check input[type="checkbox"] + label:after {
    font-size: 25px;
    top: 3px;
}

.editable-checkbox .clip-check input[type="checkbox"][disabled] + label:before {
    height: 16px;
    width: 16px;
}

.editable-checkbox .clip-check input[type="checkbox"][disabled] + label:after{
    font-size: 14px !important;
    top: -2px !important;
}

.clip-check.check-primary input[type="checkbox"]:checked + label:before {
    border: 1px solid #ddd;
}

.center {
    text-align: center !important;
}

.input-icon input {
    color: inherit;
}

/*Tables*/
@media screen and (max-width: 1200px) {
    .table-responsive {
        width: 100%;
        margin-bottom: 15px;
        overflow-x: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #ddd;
    }
}

/*nav-bar*/
@media (max-width: 768px) {
    .sidebar-collapse {
        display: none;
    }

    #topbar .navbar-header .navbar-toggle .icon-bar {
        background-color: #40516f;
    }
}

.navbar-brand {
    padding: 0px 0px;
}

#topbar .navbar-header {
    background: #f0f2f5;
}

    #topbar .navbar-header #logo span.logo-text {
        color: #40516f;
    }

.box-register {
    /*max-width: 700px;*/
    margin: 0 auto;
}

/*dropdown*/
.ui-select-bootstrap .btn-default {
    background-color: white;
}

/*tables*/
.pagination {
    margin: 0px 0px 10px 0px;
}

.table-responsive {
    padding: 10px 0px;
}

.block-ui-message {
    background-color: transparent !important;
    padding: 10px !important;
    color: white !important;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    height: 32px;
    width: 32px;
    background-image: url('http://localhost:8080/Public/content/images/pageloader/loader3.gif');
}

.product-image-edit {
    max-height: 200px;
    max-width: 200px;
    display: block;
}

.product-image-list {
    height: 150px;
    width: 150px;
    max-height: 200px;
    max-width: 200px;
}

.product-image {
    padding-bottom: 100%;
    position: relative;
    overflow: hidden;
    display: block;
    width: 100%;
}

.img-inside-select {
    padding: 4px;
}

@media (min-width: 768px) {
    .product-categories .modal-dialog {
        width: 768px !important;
    }

    .product-edit .modal-dialog {
        width: 875px !important;
    }
}

.product-edit .modal-dialog .clip-check label {
    padding-left: 5px;
}

.product-categories .price {
    margin-top: 0px;
    margin-bottom: 5px;
    color: #284660;
}

.product-categories .tab-content {
    padding: 10px 45px 0px 45px !important;
}

    .product-categories a.page-link {
        position: absolute;
        top: 47%;
        cursor: pointer;
        width: 5%;
        text-align: center;
    }
    .product-categories a.page-link.next {
        right: 0%;
    }

    .product-categories a.page-link.previous {
        left: 0%;
    }

    .product-categories a.page-link i {
        font-size: 42px;
        font-weight: 100;
    }

    .product-categories .tab-content .image-container {
        height: 100px;
    }

.products-quantity {
    margin-bottom: 6px;
}

.shortDescription {
    height: 30px;
}

.template-item .editable-wrap .editable-controls > input {
    max-width: 66px;
    height: 34px;
}

.template-item .editable-buttons button {
    padding: 6px;
}

.page-content {
    min-height: 100vh !important;
    margin-left: 20px;
    background-color: #ededf1;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
}

/*.product-categories .nav-tabs>li {
    float: left;
    border: 1px solid grey;
    margin-bottom: -1px;
    margin-left: 4px;
    padding: 0px 14px 0px 16px;
    margin-bottom: 4px;
    border-radius: 10px 10px 0px 0px;
}

.product-categories .nav-tabs>li.active>a, .product-categories .nav-tabs>li.active>a:hover, .product-categories .nav-tabs>li.active>a:focus {
    color: #dc6767;
    cursor: default;
    text-decoration: underline;
    background-color: inherit;
    border: 1px solid transparent;
}
.product-categories .nav>li>a {
    position: relative;
    display: block;
    padding: 5px 7px;
}

.product-categories .nav>li>a:hover, .product-categories .nav>li>a:focus {
    background-color: initial;
    border: 1px solid transparent;
}*/

.form-control
{
    height: 30px;
    line-height: 1em;
}

.widget-header
{
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-bottom: 1px solid #ddd;
    -webkit-box-shadow: 0px 7px 7px -6px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 7px 7px -6px rgba(0,0,0,0.05);
    box-shadow: 0px 7px 7px -6px rgba(0,0,0,0.05);
}

.radio
{
    margin-top: 0px;
}

.radio-inline
{
    margin-bottom: 0px !important;
}

.modal-dialog {
    right: auto;
    left:auto;
}

/*styles form nested table (order screen)*/
.nested-table-container {
    padding-left: 9px;
    padding-right: 10px;
    padding-bottom: 4px;
}

.nested-table {
    background-color: white !important;
    margin-bottom: -9px;
}

.nested-table .nested-price {
    width: 22%;
}
.nested-table .nested-type {
    width: 11.4%;
}
.nested-table .nested-quantity {
    width: 22%;
}
    .nested-table .nested-quantity span {
        padding-right: 19px;
    }
    .nested-table .nested-quantity span.no-editable {
        padding-right: 2px;
    }

.nested-table .nested-image {
    width: 11.4%;
}

@media screen and (max-width: 1400px) {
   .nested-table .nested-price {
        width: 22%;
    }
    .nested-table .nested-quantity {
        width: 22%;
    }

    .nested-table .nested-type {
        width: 11.4%;
    }

    .nested-table .nested-image {
        width: 11.4%;
    }
}

@media screen and (max-width: 1200px) {
   .nested-table .nested-price {
    width: 23%;
    }
    .nested-table .nested-quantity {
        width: 22%;
    }


}

@media screen and (max-width: 700px) {
   .nested-table .nested-price {
        width: 21%;
    }
    .nested-table .nested-quantity {
        width: 22%;
    }
    .nested-table .nested-type {
        width: 12%;
    }
    .nested-table .nested-image {
        width: 15%;
    }
}

form {
    padding-bottom: 10px;
}

table form {
    padding-bottom: 5px;
}

input.form-control {
    padding: 5px;
}

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
    background: #f2f9fd;
}

.table.table-advanced thead tr th {
    background-color: white;
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #eaf5fb;
    font-size: 13px;
    font-family:sans-serif;
    color: #333333;
    padding: 4px;
}

.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
    background: #ffffcc;
}

.label-status {
    font-size: 15px;
}

/*datepicker*/
ul.dropdown-menu .btn {
    border: none;
    color: black;
    background-color: white;
    background-image: none;
    box-shadow: none;
    border-radius: inherit !important;
}

/*datepicker*/
ul.dropdown-menu table {
    outline: none;
}


.sidebar-wrapper {
    width: 250px;
}

.sidebar-wrapper ul > li > a {
    text-align: left;
    /*margin-left: 30px; */
}

.sidebar-wrapper ul > li > a i {
    text-align: left;
    margin-left: 30px;
    font-size: 17px;
}

.sidebar-wrapper ul > li > a > span {
    margin-left: 10px;
    color: white;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif
}

#topbar .topbar-main {
    background-color: #eaeaeb
}

.glossed .widget .widget-content {
    background-image: none;
    background-color: #f8f8f8;
}

.panel-body {
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.1);
}

.page-wrapper {
    background-color: #ededf1;
}

.tableicon {
    font-size: 13pt;
}

.product-categories {
    
}

    .product-categories ul.nav  li a{
        background: #EDEEF2 !important;
        color: #3498db !important;
        font-size: 10px;
        font-weight: 700;
        padding: 10px 7px 10px 7px !important;
    }

    .product-categories ul.nav.nav-tabs.ul-edit{
        border: 1px solid #e5e5e5 !important;
        background: #EDEEF2 !important;
    }

    .product-categories ul.nav.nav-tabs.ul-edit li{
        border-right: 1px solid #e5e5e5 !important;
        border-bottom: 1px solid #e5e5e5 !important;
        border-top: 4px solid #EDEEF2 !important;
    } 
    
    .product-categories ul.nav.nav-tabs.ul-edit li.active{
        border-top: 4px solid #e67e22 !important;
    }

    .product-categories .tab-content{
        border-top: none;
        background-color: #EDEEF2 !important;
    }
    .product-categories table.mbn{
        box-shadow: 1px 1px 7px;
        border-radius: 5px;
    }
    .product-categories .no-padding{
        padding: 0px !important;
    }
    .product-categories .shortDescription{
        font-size: 11px;
        text-align: left;
        height: 14px;
    }
    .product-categories .quantity{
        font-size: 11px;
        text-align: left;
        color: #858585;
        width: 120px;
        white-space: nowrap;
        overflow: hidden;
    }
    .product-categories .btn.quantity {
        padding: 0px;
        border-right: 1px solid #A0C7D0 !important;
        width: 36px;
        text-align: center;
        border-radius: 0px !important;
        color: #FA6620;
        height: 25px;
        padding: 2px;
    }
    .product-categories .btn.quantity i.fa {
        font-size: 15px;
        vertical-align: middle;
    }
    .product-categories .no-products{
        font-size: 15px;
        vertical-align: middle;
        font-weight: bold;
        margin: 20px -20px;
    }

.selected-products {
    
}
    .selected-products thead th{
        color: #858585 !important;
        border: none !Important;
        font-size: 11px !important;
    }

    .selected-products .product-price{
        font-weight: bold;
        color:  #858585 !important;
        font-size: 12px;
    }

    .selected-products .product-type{
        font-weight: bold;
        color:  #858585 !important;
        font-size: 12px;
    }

    .selected-products .product-name{
        font-weight: bold;
        color: #3498db !important;
        display: block;
        font-size: 12px;
    }

    .selected-products .product-description{
        font-size: 9px;
        font-weight: bold;
        display: block;
        color: #060606;
    }

.navbar-static-side ul li.user-panel {
    padding: 0px 0px 0px 15px !important;
}

.navbar-static-side ul li.user-panel .info p {
    margin-bottom: 0px;
    font-size: 11px;
}

#app {
    max-width: 1400px;
}

body {
    background-image: url('/Public/content/images/LoginBackground.jpg')
}

.glossed .main-buttons:hover {
    background-image: linear-gradient(to top, #196090 25%, #8ec2e7 100%);
    color: white;
    padding: 5px 25px;
}

.glossed .main-buttons {
    background-image: linear-gradient(to top, #196090 50%, #8ec2e7 100%);
    color: white;
    padding: 5px 25px;
}

.glossed .main-buttons-secondary {
    background-image: linear-gradient(to top, #f1f1f1 0%, white 100%);
    padding: 5px 25px;
}

.glossed .main-buttons-secondary:hover {
    background-image: linear-gradient(to top, #f1f1f1 75%, white 100%);
    padding: 5px 25px;
}

.page-content {
   background-color:#eaeaeb 
}

.product-categories .table tr.active>td {
    background-color: #EFF0F1 !important;
}

.modal.large {
     width: 80%;
}

.patient-census .clip-check label{
    padding-left: 0px !Important;
    margin-right: 5px !Important;
}