<div ng-controller="AllPatientsCtrl">
    <div class="panel panel-blue">
        <div class="panel-heading">Patients</div>
        <div class="panel-body">


            <div class="row">
                <div class="form-group col-xs-6">
                    <span class="input-icon input-icon-right">
                        <input ng-model="tableParams.filter.search" ng-model-options="{ updateOn: 'default blur', debounce: { 'default':
 300, 'blur': 1 } }" name="patientsFilter" placeholder="Search..." class="form-control" type="text">
                        <i class="ti-search"></i>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="checkbox clip-check check-primary">
                        <input type="checkbox" id="showInactive" value="1">
                        <label for="showInactive" ng-click="includeInactive = !includeInactive">
                            Include Inactive
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive" block-ui="patientsTableBlock">
                        <table ng-table="tableParams" class="table table-hover table-bordered table-advanced">
                            <tr ng-repeat="patient in $data">
                                <td data-title="">
                                    <div class="checkbox clip-check check-primary">
                                        <input id="{{patient.id}}" ng-model="selectedPatientsIds[patient.id]" ng-disabled="!patient.isActive" value="1" type="checkbox">
                                        <label for="{{patient.id}}"></label>
                                    </div>
                                </td>
                                <td data-title="" class="center">
                                    <a ui-sref="app.patients.edit({patientId:patient.id})" class="btn btn-warning btn-xs">
                                        <i class="fa fa-edit"></i>&nbsp;Edit
                                    </a>
                                </td>
                                <td class="col-xs-3" data-title="'Name'" sortable="'LastName'">
                                    <span ng-bind-html="patient.lastName | highlight: tableParams.filter.search"></span>,
                                    <span ng-bind-html="patient.firstName | highlight: tableParams.filter.search"></span>
                                </td>
                                <td class="col-xs-2" data-title="'Account Group'" sortable="'AccountGroup.Name'">{{patient.accountGroupName}}</td>
                                <td class="col-xs-3" data-title="'Account'" sortable="'Account.Name'">{{patient.accountName}}</td>
                                <td class="col-xs-3" data-title="'Facility'" sortable="'Facility.Name'">{{patient.facilityName}}</td>
                            </tr>
                            <tr ng-show="tableParams.isReady && tableParams.total() == 0">
                                <td colspan="6">
                                    <span>No Data</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-light-azure" ng-click="inactivateSelectedPatients($event)">
                        Mark Inactive
                    </button>
                    <a ui-sref="app.patients.create" class="btn btn-azure">
                        New Patient
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
