<div ng-controller="AccountsCtrl">
    <div ng-controller="AllAccountsCtrl" class="panel panel-blue">
        <div class="panel-heading">
            <h4 class="panel-title">Accounts</h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="form-group col-xs-6">
                    <span class="input-icon input-icon-right">
                        <input ng-model="tableParams.filter.search" ng-model-options="{ updateOn: 'default blur', debounce: { 'default':
 300, 'blur': 1 } }" name="accountName" placeholder="Search..." class="form-control" type="text">
                        <i class="ti-search"></i>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="checkbox clip-check check-primary">
                        <input type="checkbox" id="showInactiveAccounts" value="1">
                        <label for="showInactiveAccounts" ng-click="tableParams.filter.includeInactive = !tableParams.filter.includeInactive">
                            Include Inactive
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive" block-ui="accountsTableBlock">
                        <table ng-table="tableParams" class="table table-hover table-bordered table-advanced">
                            <tr ng-repeat="account in $data">
                                <td data-title="">
                                    <div class="checkbox clip-check check-primary">
                                        <input id="{{account.name}}_{{account.id}}" ng-model="selectedAccountsIds[account.id]" value="1" type="checkbox" ng-disabled="!account.isActive">
                                        <label for="{{account.name}}_{{account.id}}"></label>
                                    </div>
                                </td>
                                <td data-title="" class="center">
                                    <a ui-sref="app.accounts.edit({accountId:account.id})" class="btn btn-warning btn-xs">
                                        <i class="fa fa-edit"></i>&nbsp;
                                        Edit
                                    </a>
                                </td>
                                <td class="col-xs-8" data-title="'Name'" sortable="'Name'">{{account.name}}</td>
                                <td class="col-xs-3" data-title="'Active'" sortable="'IsActive'">{{account.isActive}}</td>
                            </tr>
                            <tr ng-show="tableParams.isReady && tableParams.total() == 0">
                                <td colspan="9">
                                    <span>No Data</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-light-azure" ng-click="inactivateSelectedAccounts($event)">
                        Mark Inactive
                    </button>
                    <a ui-sref="app.accounts.create({accountGroupId:accountGroup.id})"  class="btn btn-dark-azure">
                        Add New
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


