<div class="panel panel-yellow">
    <div class="panel-heading">
        {{pageName}}
    </div>
    <div class="panel-body">
        <div class="box-register">
            <form name="form" novalidate ng-submit="submit(form)" ng-class="{'submitted':form.$submitted}">
                <fieldset ng-init="editFormLoaded(form)">
                    <div class="row" ng-if="editMode">
                        <div class="col-xs-12">
                            <div class="checkbox clip-check check-primary">
                                <input type="checkbox" id="isActive" ng-model="accountGroup.isActive" ng-checked="accountGroup.isActive">
                                <label for="isActive">Active</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-6" ng-class="{ 'has-error' : form.name.$invalid && !form.$pristine }">
                            <label>Name</label>
                            <input type="text" ng-model="accountGroup.name" required class="form-control" name="name">
                            <p ng-show="form.name.$error.required && !form.$pristine" class="help-block">Required.</p>
                        </div>
                        <div class="form-group col-xs-6">
                            <label>External Code(INS Group)</label>
                            <input type="text" ng-model="accountGroup.externalCode" class="form-control" name="externalCode">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <label>Street Address 1</label>
                            <input type="text" ng-model="accountGroup.street1" class="form-control" name="streetAddress1">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <label>Street Address 2</label>
                            <input type="text" ng-model="accountGroup.street2" class="form-control" name="streetAddress2">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-4">
                            <label>City</label>
                            <input type="text" ng-model="accountGroup.city" class="form-control" name="city">
                        </div>
                        <div class="form-group col-xs-4">
                            <label>State</label>
                            <input type="text" ng-model="accountGroup.state" class="form-control" name="state">
                        </div>
                        <div class="form-group col-xs-4">
                            <label>Zip</label>
                            <input type="text" ng-model="accountGroup.zip" class="form-control" name="zip">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12" ng-class="{ 'has-error' : form.contactName.$invalid && !form.$pristine }">
                            <label>Contact Name</label>
                            <span class="input-icon">
                                <input type="text" ng-model="accountGroup.contactName" required class="form-control" name="contactName">
                                <i class="fa fa-user"></i>
                            </span>
                            <p ng-show="form.contactName.$error.required && !form.$pristine" class="help-block">Required.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-6" ng-class="{ 'has-error' : form.contactEmail.$invalid && !form.$pristine }">
                            <label>Contact Email</label>
                            <span class="input-icon">
                                <input type="email" ng-model="accountGroup.contactEmail" required class="form-control" placeholder="username@domain.com" name="contactEmail">
                                <i class="fa fa-envelope"></i>
                            </span>
                            <p ng-show="form.contactEmail.$error.required && !form.$pristine" class="help-block">Required.</p>
                        </div>
                        <div class="form-group col-xs-6" ng-class="{ 'has-error' : form.contactPhone.$invalid && !form.$pristine }">
                            <label>Contact Phone</label>
                            <span class="input-icon">
                                <input type="text" ng-model="accountGroup.contactPhone" required class="form-control" ui-mask phone-mask name="contactPhone">
                                <i class="fa fa-phone"></i>
                            </span>
                            <p ng-show="form.contactPhone.$error.required && !form.$pristine" class="help-block">Required.</p>
                        </div>
                    </div>
                    <div class="row" ng-if="editMode">
                        <div class="form-group col-xs-12">
                            <div ng-include="'/Public/app/groups/views/shared/accountsTable.html'"></div>
                        </div>
                    </div>
                    <div class="row" ng-if="editMode">
                        <div class="form-group col-xs-12">
                            <div ng-include="'/Public/app/groups/views/shared/usersTable.html'"></div>
                        </div>
                    </div>
                    <div class="row" ng-if="editMode">
                        <div class="form-group col-xs-12">
                            <div ng-include="'/Public/app/groups/views/shared/facilitiesTable.html'"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <div class="pull-right">
                                <page-loader ng-if="form.$submitted && form.$valid" size="32x32"></page-loader>
                                <button type="submit" class="btn btn-dark-azure ">
                                    Save
                                    <i class="fa fa-arrow-circle-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
