<div ng-controller="FacilitiesCtrl">
    <div ng-controller="AllFacilitiesCtrl" class="panel panel-blue">
        <div class="panel-heading">
            <h4 class="panel-title">Facilities</h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="form-group col-xs-6">
                    <span class="input-icon input-icon-right">
                        <input ng-model="tableParams.filter.search" ng-model-options="{ updateOn: 'default blur', debounce: { 'default':
 300, 'blur': 1 } }" name="facilityFilter" placeholder="Search..." class="form-control" type="text">
                        <i class="ti-search"></i>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="checkbox clip-check check-primary">
                        <input type="checkbox" id="showInactiveFacilities" value="1">
                        <label for="showInactiveFacilities" ng-click="tableParams.filter.includeInactive = !tableParams.filter.includeInactive">
                            Include Inactive
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive" block-ui="facilitiesTableBlock">
                        <table ng-table="tableParams" class="table table-hover table-bordered table-advanced" id="sample-table-1">
                            <tr ng-repeat="facility in $data">
                                <td data-title="">
                                    <div class="checkbox clip-check check-primary">
                                        <input id="{{facility.name}}_{{facility.id}}" ng-model="selectedFacilitiesIds[facility.id]" ng-disabled="!facility.isActive" type="checkbox">
                                        <label for="{{facility.name}}_{{facility.id}}"></label>
                                    </div>
                                </td>
                                <td data-title="" class="center">
                                    <a ui-sref="app.facilities.edit({facilityId:facility.id})" class="btn btn-warning btn-xs">
                                        <i class="fa fa-edit"></i>&nbsp;
                                        Edit
                                    </a>
                                </td>
                                <td class="col-xs-8" data-title="'Name'" sortable="'Name'">{{facility.name}}</td>
                                <td class="col-xs-3" data-title="'Active'" sortable="'IsActive'">{{facility.isActive}}</td>
                            </tr>
                            <tr ng-show="tableParams.isReady && tableParams.total() == 0">
                                <td colspan="9">
                                    <span>No Data</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-light-azure" ng-click="inactivateSelectedFacilities($event)">
                        Mark Inactive
                    </button>
                    <a ui-sref="app.facilities.create({accountGroupId:accountGroup.id})" class="btn btn-dark-azure">
                        Add New
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

