<div ng-controller="UsersCtrl">
    <div ng-controller="AllUsersCtrl"  class="panel panel-green">
        <div class="panel-heading">
            <h4 class="panel-title">Users</h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="form-group col-xs-6">
                    <span class="input-icon input-icon-right">
                        <input ng-model="tableParams.filter.search" ng-model-options="{ updateOn: 'default blur', debounce: { 'default':
 300, 'blur': 1 } }" name="usersFilter" placeholder="Search..." class="form-control" type="text">
                        <i class="ti-search"></i>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="checkbox clip-check check-primary">
                        <input type="checkbox" id="showInactiveUsers" value="1">
                        <label for="showInactiveUsers" ng-click="tableParams.filter.includeInactive = !tableParams.filter.includeInactive">
                            Include Inactive
                        </label>
                    </div>
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="table-responsive" block-ui="usersTableBlock">
                            <table ng-table="tableParams" class="table table-hover table-bordered table-advanced">
                                <tr ng-repeat="user in $data">
                                    <td data-title="">
                                        <div class="checkbox clip-check check-primary">
                                            <input id="{{user.id}}" ng-model="selectedUsersIds[user.id]" ng-disabled="!user.isActive" value="1" type="checkbox">
                                            <label for="{{user.id}}"></label>
                                        </div>
                                    </td>
                                    <td data-title="" class="center">
                                        <a ui-sref="app.users.edit({userId:user.id})" class="btn btn-warning btn-xs">
                                            <i class="fa fa-edit"></i>&nbsp;Edit
                                        </a>
                                    </td>
                                    <td class="col-xs-2" data-title="'Last'" sortable="'LastName'">{{user.lastName}}</td>
                                    <td class="col-xs-2" data-title="'First'" sortable="'FirstName'">{{user.firstName}}</td>
                                    <td class="col-xs-2" data-title="'Active'" sortable="'IsActive'">{{user.isActive}}</td>
                                    <td class="col-xs-2" data-title="'AGAdmin'" sortable="'IsAccountGroupAdmin'">{{user.isAccountGroupAdmin}}</td>
                                </tr>
                                <tr ng-show="tableParams.isReady && tableParams.total() == 0">
                                    <td colspan="9">
                                        <span>No Data</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <button class="btn btn-light-azure" ng-click="inactivateSelectedUsers($event)">
                            Mark Inactive
                        </button>
                        <a ui-sref="app.users.create({type:'Account', accountGroupId:accountGroup.id})" class="btn btn-dark-azure">
                            Add New
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

                   