<div class="panel panel-yellow">
    <div class="panel-heading">
        {{pageName}}
    </div>
    <div class="panel-body">
        <div class="box-register">
            <form name="form" novalidate ng-submit="submit(form)" ng-class="{'submitted':form.$submitted}">
                <fieldset ng-init="editFormLoaded(form)">
                    <div class="row" ng-if="editMode">
                        <div class="col-xs-12">
                            <div class="checkbox clip-check check-primary">
                                <input type="checkbox" id="isActive" ng-model="facility.isActive">
                                <label for="isActive">Active</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Select an Account Group</label>
                        <ui-select ng-if="!editMode && !returnToPreviousPage" ng-model="facility.accountGroupId" theme="bootstrap">
                            <ui-select-match>
                                <span title="{{$select.selected.name}}">{{$select.selected.name}}</span>
                            </ui-select-match>
                            <ui-select-choices repeat="accountGroup.id as accountGroup in accountGroups" refresh="searchAccountGroups($select.search)" refresh-delay="300">
                                <div ng-bind-html="accountGroup.name | highlight: $select.search"></div>
                                <!--<small ng-bind-html="accountGroup.city | highlight: $select.search"></small>-->
                            </ui-select-choices>
                        </ui-select>
                        <input ng-if="editMode || returnToPreviousPage" type="text" ng-model="facility.accountGroupName" disabled class="form-control" name="accountGroupName">
                    </div>
                    <div class="form-group ">
                        <label>Select a Company</label>
                        <ui-select  ng-model="facility.companyId" theme="bootstrap" ng-change="companySelected()">
                            <ui-select-match>
                                <span title="{{$select.selected.externalCode}}&nbsp;{{$select.selected.name}}">{{$select.selected.externalCode}}&nbsp;{{$select.selected.name}}</span>
                            </ui-select-match>
                            <ui-select-choices repeat="company.id as company in companies | filter: $select.search">
                                <span ng-bind-html="company.externalCode | highlight: $select.search"></span>
                                <span ng-bind-html="company.name | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                        <!--<input ng-if="editMode" type="text" ng-model="facility.companyName" disabled class="form-control" name="companyName">-->
                    </div>
                   
                    <div class="row">
                        <div class="form-group col-xs-6" ng-class="{ 'has-error' : form.name.$invalid && !form.$pristine }">
                            <label>Name</label>
                            <input type="text" ng-model="facility.name" required class="form-control" name="name">
                            <p ng-show="form.name.$error.required && !form.$pristine" class="help-block">Required.</p>
                        </div>
                        <div class="form-group col-xs-6" ng-class="{ 'has-error' : form.name.$invalid && !form.$pristine }">
                            <label>External Code</label>
                            <input type="text" ng-model="facility.externalCode" required class="form-control" name="externalCode">
                            <p ng-show="form.externalCode.$error.required && !form.$pristine" class="help-block">Required.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <label>Street Address 1</label>
                            <input type="text" ng-model="facility.street1" class="form-control" name="streetAddress1">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <label>Street Address 2</label>
                            <input type="text" ng-model="facility.street2" class="form-control" name="streetAddress2">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-4">
                            <label>City</label>
                            <input type="text" ng-model="facility.city" class="form-control" name="city">
                        </div>
                        <div class="form-group col-xs-4">
                            <label>State</label>
                            <input type="text" ng-model="facility.state" class="form-control" name="state">
                        </div>
                        <div class="form-group col-xs-4">
                            <label>Zip</label>
                            <input type="text" ng-model="facility.zip" class="form-control" name="zip">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <label>Contact Name</label>
                            <span class="input-icon">
                                <input type="text" ng-model="facility.contactName" class="form-control" name="contactName">
                                <i class="fa fa-user"></i>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-6">
                            <label>Contact Email</label>
                            <span class="input-icon">
                                <input type="email" ng-model="facility.contactEmail" class="form-control" name="contactEmail" placeholder="username@domain.com">
                                <i class="fa fa-envelope"></i>
                            </span>
                        </div>
                        <div class="form-group col-xs-6">
                            <label>Contact Phone</label>
                            <span class="input-icon">
                                <input type="text" ng-model="facility.contactPhone" class="form-control" ui-mask phone-mask name="contactPhone">
                                <i class="fa fa-phone"></i>
                            </span>
                        </div>
                    </div>
                    <!--<div class="row" ng-if="editMode">
                        <div class="form-group col-xs-12">
                            <div class="panel panel-white no-radius">
                                <div class="panel-heading border-light">
                                    <h4 class="panel-title">Accounts</h4>
                                </div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <span class="input-icon input-icon-right">
                                            <input ng-model="filter.accountsSearchText" name="accountsFilter" placeholder="Search..." class="form-control" type="text">
                                            <i class="ti-search"></i>
                                        </span>
                                    </div>

                                    <table class="table table-condensed">
                                        <thead>
                                            <tr>
                                                <th colspan="2">Account</th>
                                                <th>Active</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="account in filteredAccounts = (facility.accounts|filter:{lastName:filter.usersSearchText})" ng-show="user.isActive || showInactiveAccounts">
                                                <td class="col-xs-5">{{account.name}}</td>
                                                <td class="col-xs-5">{{account.isActive}}</td>
                                                <td class="col-xs-2">
                                                    <div class="checkbox clip-check check-primary" ng-if="account.isActive">
                                                        <input id="{{account.id}}" type="checkbox">
                                                        <label for="{{account.id}}" ng-click="account.inactivate=!account.inactivate"></label>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="checkbox clip-check check-primary col-xs-4">
                                                <input type="checkbox" id="isActive2" ng-click="showInactiveAccounts=!showInactiveAccounts">
                                                <label for="isActive2">Show Inactive</label>
                                            </div>
                                            <div class="col-xs-8 ">
                                                <div class="pull-right">
                                                    <button class="btn btn-light-azure" ng-click="markAsInactive($event)">
                                                        Mark Inactive
                                                    </button>
                                                    <a ui-sref="app.users.create({type:'Account',accountId:account.id, accountGroupId:account.accountGroupId})" class="btn btn-dark-azure">
                                                        Add New
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="pull-right">
                                <page-loader ng-if="form.$submitted && form.$valid" size="32x32"></page-loader>
                                <a back-button ng-if="returnToPreviousPage" class="btn btn-light-azure">
                                    Cancel And Return
                                </a>
                                <button type="submit" class="btn btn-dark-azure ">
                                    Save
                                    <text ng-if="returnToPreviousPage">and Return </text>
                                    <i class="fa fa-arrow-circle-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
