<div ng-controller="orderLineItemsCtrl" class="product-categories">
    <div ng-controller="browseProductsCtrl">
        <button type="button" data-target="#modal-header-primary" ng-click="showBrowsePopup=true; init();" data-toggle="modal" class="btn btn-iconed btn-sm btn-round btn-warning">Browse<i class="fa fa-search"></i></button>

        <div id="modal-header-primary" ng-if="showBrowsePopup==true" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-header-primary">
                        <button type="button" data-dismiss="modal" aria-hidden="true" class="close">x</button>
                        <h4 id="modal-header-primary-label" class="modal-title">Browse Products</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-6">
                                <div>Adding Order Items For:</div>
                                <h4 ng-show="patient.lastName || patient.firstName" >{{patient.lastName}}, {{patient.firstName}}</h4>
                                <h4 ng-show="!patient.lastName && !patient.firstName">Please select a patient</h4>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="col-xs-6">
                                        <div class="pull-right center">
                                            <div>Total Items On Order:</div>
                                            <h4>{{orderStorage.currentOrder.orderLineItems.length}}</h4>
                                        </div>
                                    </div>
                                    <div class="col-xs-6" ng-if="orderStorage.currentOrder.orderLineItems.length > 0">
                                        <div> Total Cost:</div>
                                        <h4 ng-if="orderStorage.currentOrder.orderLineItems.length > 0">${{orderStorage.total()}}</h4>
                                        <h4 ng-if="orderStorage.currentOrder.orderLineItems.length == 0">$0.00</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="form-group col-xs-6">
                                <span class="input-icon input-icon-right">
                                    <input ng-model="params.search" ng-model-options="{ updateOn: 'default blur', debounce: { 'default':300, 'blur': 1 } }" name="searchPPSItems" placeholder="Search..." class="form-control" type="text">
                                    <i class="ti-search"></i>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">

                                <div ng-generaltab="">
                                    <ul id="myTab4" class="nav nav-tabs ul-edit responsive">
                                        <li class="active">
                                            <a ng-click="params.productCategoryId=null; searchPPSItems();" href="#home6" data-toggle="tab">All</a>
                                        </li>
                                        <li class="" ng-repeat="category in categories">
                                            <a href="{{category.name}}" ng-click="setCategory(category.id);" data-toggle="tab">{{category.name}}</a>
                                        </li>
                                    </ul>
                                    <div id="myTabContent4" class="tab-content">
                                        <div class="row mtl">
                                            <div class="col-xs-12 col-md-12 col-sm-12" style="padding-left: 0px; padding-right: 0px;">
                                                <div style="padding-left: 3px; padding-right: 3px;" class="col-xs-6 col-sm-3 col-md-3" ng-repeat="ppsItem in categoryPPSItems">
                                                    <div class="panel">
                                                        <div class="panel-body pan text-center">
                                                            <div ng-include="'/Public/app/orders/orderLineItems/views/shared/productThumb.html'"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12" ng-show="!categoryPPSItems.length">No Products</div>
                                            </div>
                                        </div>
                                        <ul class="pagination" ng-show="params.pagesCount > 1">
                                            <li class="paginate_button previous" ng-show="params.page>1" aria-controls="table_id" tabindex="0" id="table_id_previous">
                                                <a ng-click="setPage(params.page - 1);" href="#">Previous</a>
                                            </li>
                                            <li class="paginate_button active" aria-controls="table_id" tabindex="0">
                                                <a href="#">{{params.page}} of {{params.pagesCount}}</a>
                                            </li>
                                            <li class="paginate_button next" ng-show="params.page < params.pagesCount" aria-controls="table_id" tabindex="0" id="table_id_next">
                                                <a ng-click="setPage(params.page + 1);" href="#">Next</a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



