<div ng-controller="orderLineItemsCtrl">
    <div ng-controller="selectProductsTableCtrl">
        <div class="row" ng-if="local.isEditable">
            <div class="form-group col-xs-12">
                <div ng-include="'/Public/app/orders/orderLineItems/views/searchByCategories.html'"></div>
            </div>
            <div class="form-group col-lg-10 col-md-10 col-xs-9">
                <ui-select ng-model="local.selectedPPSItem" ng-change="productSelected()" theme="bootstrap">
                    <ui-select-match placeholder="Select a product...">
                        <span title="{{$select.selected.productName}}">{{$select.selected.productName}}</span>
                    </ui-select-match>
                    <ui-select-choices repeat="ppsItem in existingPPSItems" refresh="searchPPSItems($select.search)" refresh-delay="300">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="col-xs-3">
                                    <div afkl-lazy-image="{{ppsItem.productImageUrl}} 480w, {{ppsItem.productImageUrl}} 768w, {{ppsItem.productImageUrl}}" afkl-lazy-image-options="{'nolazy': true}" on-error-src="<img height='100px' width='100px' src='Public/content/images/no-image.png'>" on-load="Public/content/images/pageloader/loader8.GIF"
                                         class="afkl-lazy-wrapper afkl-img-ratio-1-1 img-inside-select"></div>
                                </div>
                                <div class="col-xs-9">
                                    <div ng-bind-html="ppsItem.productName |uppercase | highlight: $select.search"></div>
                                    <div>
                                        <small ng-if="ppsItem.productShortDescription" ng-bind-html="ppsItem.productShortDescription |uppercase | highlight: $select.search"></small>
                                        <small ng-if="ppsItem.productShortDescription2 && !ppsItem.productShortDescription" ng-bind-html="ppsItem.productShortDescription2 |uppercase | highlight: $select.search"></small>
                                    </div>
                                    <div>
                                        <small ng-show="!ppsItem.isTemplate">Cost: ${{ppsItem.priceDaily || ppsItem.priceRental || 0  | number:2}}</small>
                                        <small ng-show="ppsItem.isTemplate && ppsItem.nestedPPSItems.length == 0">No Items</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="form-group col-lg-2 col-md-2 col-xs-3">
                <div class="pull-right">
                    <div ng-include="'/Public/app/orders/orderLineItems/views/browseProductsPopup.html'"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="table-responsive" block-ui="productsTableBlock">
                    <table class="selected-products table table-hover table-striped table-bordered table-advanced">
                        <thead>
                            <tr>
                                <th class="col-xs-1">Image</th>
                                <th class="col-xs-4">Product</th>
                                <th class="col-xs-2">Cost</th>
                                <th class="col-xs-1 ">Type</th>
                                <th class="col-xs-2 center">Qty</th>
                                <th class="col-xs-2" ng-if="local.isEditable"></th>
                            </tr>
                        </thead>
                        <tr ng-repeat="orderLineItem in orderStorage.currentOrder.orderLineItems | filter:{addedByProductTemplateId:null}">
                            <td>
                                <div afkl-lazy-image="{{orderLineItem.product.imageUrl}} 480w, {{orderLineItem.product.imageUrl}} 768w, {{orderLineItem.product.imageUrl}}" afkl-lazy-image-options="{'nolazy': true}" on-error-src="<img width='100%' src='Public/content/images/no-image.png'>" on-load="Public/content/images/pageloader/loader8.GIF"
                                     class="afkl-lazy-wrapper afkl-img-ratio-1-1"></div>
                            </td>
                            <td ng-if="!orderLineItem.product.isTemplate">
                                <span class="product-name">{{orderLineItem.product.displayName}}</span>
                                <i class="product-description" ng-if="orderLineItem.product.shortDescription">{{orderLineItem.product.shortDescription}}</i>
                                <i class ="product-description" ng-if="orderLineItem.product.shortDescription2 && !orderLineItem.product.shortDescription">{{orderLineItem.product.shortDescription2}}</i>
                            </td>
                            <td ng-if="!orderLineItem.product.isTemplate">
                                <span class="product-price">$ {{orderLineItem.price | number:2}}</span>
                            </td>
                            <td ng-if="!orderLineItem.product.isTemplate">
                                <span class="center product-type">{{orderLineItem.purchaseTypeName}}</span>
                            </td>
                            <td ng-if="!orderLineItem.product.isTemplate">
                                <div class="center">
                                    <input ng-if="local.isEditable" type="number" min="0" ng-model="orderLineItem.quantity" class="center form-control" name="externalCode">
                                    <span ng-if="!local.isEditable">{{orderLineItem.quantity}}</span>
                                </div>
                            </td>
                            <td colspan="4" ng-if="orderLineItem.product.isTemplate">
                                <div class="row">
                                    <div class="col-xs-9">
                                        <div class="pull-left">
                                            <span class="product-name">{{orderLineItem.product.displayName}}</span>
                                            <i class="product-description" ng-if="orderLineItem.product.shortDescription">{{orderLineItem.product.shortDescription}}</i>
                                            <i class="product-description" ng-if="orderLineItem.product.shortDescription2 && !orderLineItem.product.shortDescription">{{orderLineItem.product.shortDescription2}}</i>
</div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="center">
                                            <input ng-if="local.isEditable" min="0" type="number" ng-model="orderLineItem.quantity" class="center form-control products-quantity" name="quantity">
                                            <span ng-if="!local.isEditable ">{{orderLineItem.quantity}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row  nested-table-container">
                                    <table class="table table-hover table-bordered table-advanced nested-table">
                                        <tr ng-repeat="nestedOrderLineItem in orderStorage.currentOrder.orderLineItems | filter:{addedByProductTemplateId:orderLineItem.product.id}">
                                            <td class="nested-image">
                                                <div afkl-lazy-image="{{nestedOrderLineItem.product.imageUrl}} 480w, {{nestedOrderLineItem.product.imageUrl}} 768w, {{nestedOrderLineItem.product.imageUrl}}" afkl-lazy-image-options="{'nolazy': true}" on-error-src="No Image" on-load="Public/content/images/pageloader/loader8.GIF"
                                                     class="afkl-lazy-wrapper afkl-img-ratio-1-1"></div>
                                            </td>
                                            <td class="nested-info">
                                                <span class="product-name">{{nestedOrderLineItem.product.displayName}}</span>
                                                <i class="product-description" ng-if="nestedOrderLineItem.product.shortDescription">{{nestedOrderLineItem.product.shortDescription}}</i>
                                                <i class="product-description" ng-if="nestedOrderLineItem.product.shortDescription2 && !nestedOrderLineItem.product.shortDescription">{{nestedOrderLineItem.product.shortDescription2}}</i>
                                            </td>
                                            <td class="nested-price">
                                                <span class="product-price">${{nestedOrderLineItem.price | number:2}}</span>
                                            </td>
                                            <td class="nested-type">
                                                <span class="center product-type">{{nestedOrderLineItem.purchaseTypeName}}</span>
                                            </td>
                                            <td class="nested-quantity">
                                                <div class="center">
                                                    <span ng-class="{'no-editable': !local.isEditable}">{{nestedOrderLineItem.quantity}}</span>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                            <td ng-if="local.isEditable">
                                <a ng-click="removeProductFromOrder(orderLineItem.product.id)" class="btn btn-default btn-sm">Remove <i class="fa fa-remove"></i></a>
                            </td>
                        </tr>
                        <tr ng-show="orderStorage.currentOrder.orderLineItems.length == 0">
                            <td colspan="6">
                                <span>No Selected Products</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="row" ng-if="orderStorage.currentOrder.orderLineItems.length > 0">
            <div class="col-xs-12 center">
                <div class="pull-left">
                    <label>TOTAL</label>
                </div> 
                <div class="pull-right">
                    <strong>${{orderStorage.total()}}</strong>
                </div>
            </div>
        </div>
    </div>
</div>
