<div ng-controller="orderLineItemsCtrl" class="product-categories">
    <div ng-controller="searchByCategoriesCtrl">
        <div class="row">
            <div ng-generaltab="">
                <ul id="myTab4" class="nav nav-tabs ul-edit responsive">
                    <li ng-class="{active:params.productCategoryId==category.id}" ng-repeat="category in categories">
                        <a href="{{category.name}}" ng-click="setCategory(category.id);" data-toggle="tab">{{category.name}}</a>
                    </li>
                </ul>
                <div id="myTabContent4" class="tab-content">
                    <a ng-show="params.page > 1" ng-click="setPage(params.page - 1);" class="page-link previous"><i class="fa fa-angle-left"></i></a>
                    <div class="row">
                        <div class="col-xs-12 col-md-12 col-sm-12" style="padding-left: 0px; padding-right: 0px;">
                            <div style="padding-left: 3px; padding-right: 3px;" class="col-xs-6 col-sm-3 col-md-3" ng-repeat="ppsItem in categoryPPSItems">
                                <div class="panel">
                                    <div class="panel-body pan text-center">
                                        <div ng-include="'/Public/app/orders/orderLineItems/views/shared/productThumb.html'"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 no-products" ng-show="!categoryPPSItems.length">No Products</div>
                        </div>
                    </div>
                    <a ng-show="params.page < params.pagesCount" ng-click="setPage(params.page + 1);" class="page-link next"><i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>



