<div class="panel panel-yellow">
    <div class="panel-heading">
        {{pageName}}
    </div>
    <div class="panel-body">
        <div class="box-register">
            <form name="form" novalidate rc-submit="submit(form)" ng-class="{'submitted':form.$submitted}">
                <fieldset ng-init="editFormLoaded(form)">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="checkbox clip-check check-primary">
                                <input type="checkbox" id="isActive" ng-model="priceSheet.isActive" ng-checked="priceSheet.isActive">
                                <label for="isActive">Active</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12" ng-class="{ 'has-error' : form.name.$invalid && !form.$pristine }">
                            <label>Name</label>
                            <input type="text" ng-model="priceSheet.name" required class="form-control" name="name">
                            <p ng-show="form.name.$invalid && !form.$pristine" class="help-block">Required.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <label ng-if="editMode">Company</label>
                            <ui-select ng-model="priceSheet.companyId" theme="bootstrap"  ng-disabled="editMode">
                                <ui-select-match placeholder="Select a Company...">
                                    <span title="{{$select.selected.name}}">{{$select.selected.name}}</span>
                                </ui-select-match>
                                <ui-select-choices repeat="company.id as company in companies| filter: $select.search">
                                    <div ng-bind-html="company.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="pull-right">
                                <page-loader ng-if="form.$submitted && form.$valid" size="32x32"></page-loader>
                                <button type="submit" class="btn btn-dark-azure ">
                                    Save
                                    <i class="fa fa-arrow-circle-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
            <div class="row" ng-if="editMode">
                <div class="form-group col-xs-12">
                    <div ng-include="'Public/app/priceSheets/views/shared/priceSheetItemsTable.html'"></div>
                </div>
            </div>
            
            <div class="row" ng-if="editMode">
                <div class="form-group col-xs-12">
                    <div ng-include="'Public/app/priceSheets/views/shared/assignedAccounts.html'"></div>
                </div>
            </div>
        </div>
    </div>
</div>
