﻿<div ng-controller="PriceSheetItemsListCtrl">
    <div ng-controller="PriceSheetNestedPPSItemsListCtrl">
        <div class="panel panel-green">
            <div class="panel-heading">
                <h4 class="panel-title">Price Sheet Items</h4>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-xs-6">
                        <span class="input-icon input-icon-right">
                            <input ng-model="tableParams.filter.search"
                                   ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 300, 'blur': 1 } }"
                                   name="productName" placeholder="Search by Product..." class="form-control" type="text">
                            <i class="ti-search"></i>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="table-responsive" block-ui="priceSheetItemsTableBlock">
                            <table ng-table="tableParams" class="table table-hover table-bordered table-advanced">
                                <tr ng-repeat="priceSheetItem in $data">
                                    <td class="col-xs-2" data-title="'Product'" sortable="'Product.DisplayName'">
                                        <div ng-bind-html="priceSheetItem.productName | highlight: tableParams.filter.search"></div>
                                    </td>
                                    <td class="col-xs-2 center" data-title="'Selling'" sortable="'PriceSelling'">
                                        <span editable-number="priceSheetItem.priceSelling" e-min="0" e-name="priceSelling" e-form="rowform" e-class="center form-control">
                                            {{priceSheetItem.priceSelling}}
                                        </span>
                                    </td>
                                    <td class="col-xs-2 center" data-title="'Rental'" sortable="'PriceRental'">
                                        <span editable-number="priceSheetItem.priceRental" e-min="0" e-name="priceRental" e-form="rowform" e-class="center form-control">
                                            {{priceSheetItem.priceRental}}
                                        </span>
                                    </td>
                                    <td class="col-xs-2 center" data-title="'Daily'" sortable="'PriceDaily'">
                                        <span editable-number="priceSheetItem.priceDaily" e-min="0" e-name="priceDaily" e-form="rowform" e-class="center form-control">
                                            {{priceSheetItem.priceDaily}}
                                        </span>
                                    </td>
                                    <td class="col-xs-2 editable-checkbox" data-title="'Selling Allowed'" sortable='IsSellingAllowed'>
                                        <div class="checkbox clip-check check-primary">
                                            <input id="{{priceSheetItem.priceSheetId}}_{{priceSheetItem.productId}}" ng-model="priceSheetItem.isSellingAllowed" type="checkbox" ng-disabled="!rowform.$visible">
                                            <label for="{{priceSheetItem.priceSheetId}}_{{priceSheetItem.productId}}"></label>
                                        </div>
                                    </td>
                                    <td class="col-xs-2">
                                        <!-- form -->
                                        <form editable-form name="rowform" onbeforesave="savePPSItem($data, priceSheetItem, $event)" ng-show="rowform.$visible" class="form-buttons form-inline">
                                            <button type="submit" ng-disabled="rowform.$waiting" class="btn-sm btn btn-success col-sm-10 col-md-5">
                                                save
                                            </button>
                                            <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn-sm btn btn-danger col-sm-10 col-md-5 col-md-offset-1">
                                                cancel
                                            </button>
                                        </form>
                                        <div class="buttons" ng-show="!rowform.$visible">
                                            <button class="btn btn-warning btn-sm col-md-7 col-sm-12" ng-click="rowform.$show()">
                                                <i class="fa fa-edit"></i>edit
                                            </button>
                                        </div>  
                                    </td>
                                </tr>
                                <tr ng-show="tableParams.isReady && tableParams.total() == 0">
                                    <td colspan="6">
                                        <span>No Data</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
