<!-- start: REGISTRATION -->
<div class="row" ng-controller="SignupCtrl">
    <div class="main-login col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
        <h1>{{app.name}}</h1>
        <!-- start: REGISTER BOX -->
        <div class="widget widget-blue">
            <div class="widget-title"><h3>Sign Up</h3></div>
            <div class="widget-content">
                <form name="form" rc-submit="signUp()" class="form-login">
                    <div class="row">
                        <p>
                            Enter your personal details below:
                        </p>
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="form-group col-xs-12">
                                    <label>Login</label>
                                    <input type="text" ng-model="user.login" class="form-control" name="login">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xs-6">
                                    <label>First Name</label>
                                    <input type="text" ng-model="user.firstName" class="form-control" name="firstName">
                                </div>
                                <div class="form-group col-xs-6">
                                    <label>Last Name</label>
                                    <input type="text" ng-model="user.lastName" class="form-control" name="lastName">
                                </div>
                            </div>
                            <p>
                                Enter your account details below:
                            </p>
                            <div class="row">
                                <div class="form-group col-xs-6">
                                    <label>Email</label>
                                    <span class="input-icon">
                                        <input type="email" ng-model="user.email" class="form-control" name="email">
                                        <i class="fa fa-envelope"></i>
                                    </span>
                                </div>
                                <div class="form-group col-xs-6">
                                    <label>Phone</label>
                                    <span class="input-icon">
                                        <input type="text" ng-model="user.phone" class="form-control" name="email">
                                        <i class="fa fa-phone"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xs-6">
                                    <label>Password</label>
                                    <span class="input-icon">
                                        <input type="password" ng-model="user.password" class="form-control" id="password" name="password">
                                        <i class="fa fa-lock"></i>
                                    </span>
                                </div>
                                <div class="form-group col-xs-6">
                                    <label>Password Again</label>
                                    <span class="input-icon">
                                        <input type="password" ng-model="user.confirmPassword" class="form-control" name="password_again">
                                        <i class="fa fa-lock"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="form-actions pull-right">
                                <page-loader ng-show="form.$submitted && form.$valid" size="32x32"></page-loader>
                                <button type="submit" class="btn btn-primary pull-right">
                                    Submit <i class="fa fa-arrow-circle-right"></i>
                                </button>
                            </div>
                            <div class="form-group">
                                <span class="text-orange">
                                    {{message}}
                                </span>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- start: COPYRIGHT -->
                <div class="copyright">
                    {{app.year}} &copy; {{ app.name }} by {{ app.author }}.
                </div>
                <!-- end: COPYRIGHT -->
            </div>
        </div>
        <!-- end: REGISTER BOX -->
    </div>
</div>
<!-- end: REGISTRATION -->
