<div ng-controller="AllCompaniesCtrl">
    <div class="panel panel-blue">
        <div class="panel-heading">Companies</div>
        <div class="panel-body">

            <div class="row">
                <div class="form-group col-xs-6">
                    <span class="input-icon input-icon-right">
                        <input ng-model="tableParams.filter.search" ng-model-options="{ updateOn: 'default blur', debounce: { 'default':
 300, 'blur': 1 } }" name="companySearch" placeholder="Search..." class="form-control" type="text">
                        <i class="ti-search"></i>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive" block-ui="companiesTableBlock">
                        <table ng-table="tableParams" class="table table-hover table-bordered table-advanced" id="sample-table-1">
                            <tbody>
                                <tr ng-repeat="company in $data">
                                    <td data-title="" class="center">
                                        <a ui-sref="app.companies.edit({companyId:company.id})" class="btn btn-warning btn-xs">
                                            <i class="fa fa-edit"></i>&nbsp;
                                            Edit
                                        </a>
                                    </td>
                                    <td data-title="'Id'" sortable="'Id'">{{company.id}}</td>
                                    <td class="col-xs-2" data-title="'Name'" sortable="'Name'">
                                        <span ng-bind-html="company.name | highlight: tableParams.filter.search"></span>
                                    </td>
                                    <td class="col-xs-2" data-title="'External Code'" sortable="'ExternalCode'">
                                        <div ng-bind-html="company.externalCode | highlight: tableParams.filter.search"></div>
                                    </td>
                                    <td class="col-xs-6" data-title="'Description'">
                                        <div ng-bind-html="company.description | highlight: tableParams.filter.search"></div>
                                    </td>
                                </tr>
                                <tr ng-show="tableParams.isReady && tableParams.total() == 0">
                                    <td colspan="5">
                                        <span>No Data</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button ui-sref="app.companies.create" class="btn btn-wide btn-dark-azure">New Company </button>
                </div>
            </div>
        </div>
    </div>
</div>

