<!-- start: CHANGE PASSWORD -->
<div class="row" ng-controller="ChangePasswordCtrl">
    <div class="main-login col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
        <h1>{{app.name}}</h1>
        <!-- start: CHANGE PASSWORD BOX -->
        <div class="widget widget-blue">
            <div class="widget-title"><h3>Change password to your account</h3></div>
            <div class="widget-content">
                <form name="form" rc-submit="changePassword()" class="form-login">
                    <div class="row">
                        <p>
                            Please enter your old and new password.
                        </p>
                        <div class="col-xs-12">
                            <div ng-if="!hasToken" class="form-group form-actions">
                                <label>Old Password</label>
                                <span class="input-icon">
                                    <input type="password" ng-model="loginData.oldPassword" required class="form-control password" name="oldPassword" placeholder="Old Password">
                                    <i class="fa fa-lock"></i>
                                    <a class="forgot" ui-sref="login.sendResetPasswordEmail">
                                        I forgot my password
                                    </a>
                                </span>
                            </div>
                            <div class="form-group form-actions">
                                <label>New Password</label>
                                <span class="input-icon">
                                    <input type="password" ng-model="loginData.newPassword" required class="form-control password" name="newPassword" placeholder="New Password">
                                    <i class="fa fa-lock"></i>
                                </span>
                            </div>
                            <div class="form-group form-actions">
                                <label>Repeat New Password</label>
                                <span class="input-icon">
                                    <input type="password" ng-model="loginData.newPasswordRepeat" required class="form-control password" name="newPasswordRepeat" placeholder="Repeat New Password">
                                    <i class="fa fa-lock"></i>
                                </span>
                            </div>
                            <div class="form-actions">
                                <button ng-click="$state.go('app.home')" class="btn btn-iconed btn-round btn-default main-buttons pull-left">
                                    Back to Home<i class="fa fa-arrow-circle-left"></i>
                                </button>
                                <div class="pull-right">
                                    <page-loader ng-show="form.$submitted && form.$valid" size="32x32"></page-loader>
                                    <button type="submit" class="btn btn-iconed btn-round btn-default main-buttons pull-right">
                                        Reset <i class="fa fa-arrow-circle-right"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="form-group">
                                <span class="text-orange">
                                    {{message}}
                                </span>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- start: COPYRIGHT -->
                <div class="copyright">
                    {{app.year}} &copy; {{ app.name }} by {{ app.author }}.
                </div>
                <!-- end: COPYRIGHT -->
            </div>
        </div>
        <!-- end: CHANGE PASSWORD BOX -->
    </div>
</div>
<!-- end: CHANGE PASSWORD -->
