<!-- start: LOGIN -->
<div class="row" ng-controller="SigninCtrl">
    <div class="main-login col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
        <h1>{{app.name}}</h1>
        <!-- start: LOGIN BOX -->
        <div class="widget widget-blue">
            <div class="widget-title"><h3>Log In</h3></div>
            <div class="widget-content">
                <form class="form-login" name="form" rc-submit="login()">
                    <div class="row">
                        <p>
                            Please enter your name and password to log in.
                        </p>
                        <p ng-if="wasRedirected">
                            You tried to access the page you do not have permissions to. Try log in under different credentials.
                        </p>
                        <div class="col-xs-12">
                            <div><label>Username&nbsp; </label><input type="text" ng-disabled="form.$submitted" ng-model="loginData.login" class="form-control" name="login"></div>
                            <div><label>Password&nbsp; </label><input type="password" ng-disabled="form.$submitted" ng-model="loginData.password" class="form-control password" name="password" placeholder="Password"></div>
                            
                            <a class="forgot" ui-sref="login.sendResetPasswordEmail">
                                I forgot my password
                            </a>
                            <div class="form-actions pull-right">

                                <page-loader ng-show="form.$submitted && form.$valid" size="32x32"></page-loader>
                                <button type="submit" class="btn btn-iconed btn-round btn-default main-buttons pull-right">
                                    Login <i class="fa fa-arrow-circle-right"></i>
                                </button>
                            </div>
                            <div class="form-group">
                                <span class="text-orange">
                                    {{message}}
                                </span>
                            </div>
                        </div>
                        
                    </div>
                </form>
                <!-- start: COPYRIGHT -->
                <div class="copyright">
                    {{app.year}} &copy; {{ app.name }} by {{ app.author }}.
                </div>
                <!-- end: COPYRIGHT -->
            </div>
        </div>
        <!-- end: LOGIN BOX -->
    </div>
</div>
<!-- end: LOGIN -->
