<div class="row patient-census" ng-controller="PatientCensusCtrl">
    <div class="widget widget-blue">
        <h4 class="widget-title">Patient Census Worksheet</h4>
        <div class="widget-content">
            <div class="panel panel-white">
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-xs-6">
                            <label>Account Group</label>
                            <ui-select ng-if="isInRole('Supplier')" ng-model="local.selectedAccountGroupId" ng-change="accountGroupSelected()" theme="bootstrap">
                                <ui-select-match placeholder="Search an Account Group...">
                                    <span title="{{$select.selected.name}}">{{$select.selected.name}}</span>
                                </ui-select-match>
                                <ui-select-choices repeat="accountGroup.id as accountGroup in accountGroups" refresh="searchAccountGroups($select.search)" refresh-delay="300">
                                    <div ng-bind-html="accountGroup.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                            <div ng-if="isInRole('Account')">
                                {{local.selectedAccountGroupName}}
                            </div>
                        </div>
                        <div class="form-group col-xs-6">
                            <label>Account</label>
                            <ui-select ng-if="!local.isAccountSelectionDisabled" ng-model="local.selectedAccount" theme="bootstrap" ng-change="accountSelected()" ng-disabled="!local.selectedAccountGroupId">
                                <ui-select-match placeholder="Search an Account...">
                                    <span title="{{$select.selected.name}}">{{$select.selected.name}}</span>
                                </ui-select-match>
                                <ui-select-choices repeat="account in accounts" refresh="searchAccounts($select.search, local.selectedAccountGroupId)" refresh-delay="300">
                                    <div ng-bind-html="account.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                            <div ng-if="local.isAccountSelectionDisabled">
                                {{local.selectedAccount.name}}
                            </div>
                        </div>
                    </div>
                    <div class="row pull-right">
                        <div class="col-xs-12">
                            <a class="btn btn-iconed btn-round btn-default main-buttons btn-sm">
                                <i class="fa fa-download"></i>&nbsp;Download Template
                            </a>
                            <a class="btn btn-iconed btn-round btn-default main-buttons btn-sm">
                                <i class="fa fa-upload"></i>&nbsp;Upload Template
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-white">
                <div class="panel-body">
                    <div class="widget-header">Patients</div>
                    <div class="row">
                        <div class="col-xs-6 col-xs-offset-6">
                            <div class="form-group col-xs-3">
                                <div class="checkbox clip-check check-primary">
                                    <input type="checkbox" id="flagged" value="1">
                                    <label for="flagged" ng-click="local.flagged = !local.flagged">
                                        Flagged
                                    </label>
                                </div>
                            </div>
                            <div class="form-group col-xs-3">
                                <div class="checkbox clip-check check-primary">
                                    <input type="checkbox" id="matched" value="1">
                                    <label for="matched" ng-click="local.matched = !local.matched">
                                        Matched
                                    </label>
                                </div>
                            </div>
                            <div class="form-group col-xs-3">
                                <div class="checkbox clip-check check-primary">
                                    <input type="checkbox" id="isActive" value="1">
                                    <label for="isActive" ng-click="local.isActive = !local.isActive">
                                        Removed
                                    </label>
                                </div>
                            </div>
                            <div class="form-group col-xs-3">
                                <a class="btn btn-warning btn-sm">
                                    &nbsp;Refresh
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="table-responsive" block-ui="reportTableBlock">
                                <table ng-table class="table table-hover table-bordered table-advanced">

                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Flagged</th>
                                            <th>Note</th>
                                            <th>Facility</th>
                                            <th>PatientId</th>
                                            <th>Matched PatientId</th>
                                            <th>Last Name</th>
                                            <th>First Name</th>
                                            <th>Matched Last</th>
                                            <th>Matched First</th>
                                            <th>Start Date</th>
                                            <th>End Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr  ng-repeat-start="patient in filteredPatients = (patients | filter: filterPatients)">
                                            <td>
                                               
                                                <a class="btn btn-xs" ng-click="patient.isActive = false">
                                                    <i class="fa fa-remove tableicon"></i>
                                                </a>
                                            </td>
                                            <td>
                                                <div class="checkbox clip-check check-primary">
                                                    <input id="{{patient.id}}" ng-model="patient.flagged" type="checkbox">
                                                    <label for="{{patient.id}}"></label>
                                                </div>
                                            </td>
                                            <td>
                                                <a class="btn btn-xs" ng-click="patient.dmePrimeNotesAdded = true">
                                                    <i class="fa fa-edit tableicon"></i>
                                                </a>
                                            </td>
                                            <td>{{patient.facilityName}}</td>
                                            <td>{{patient.id}}</td>
                                            <td></td>
                                            <td>
                                                <span ng-bind-html="patient.lastName"></span>
                                            </td>
                                            <td>
                                                <span ng-bind-html="patient.firstName"></span>
                                            </td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td> </td>
                                        </tr>
                                        <tr ng-if="patient.clientNotes">
                                            <td colspan=12>
                                                <i style="padding-right:20px;" class="fa fa-caret-left" ng-click="patient.dmePrimeNotes = null; patient.dmePrimeNotesAdded = false"></i>
                                                {{patient.clientNotes}}
                                            </td>
                                        </tr>
                                        <tr ng-repeat-end ng-if="patient.dmePrimeNotes || patient.dmePrimeNotesAdded">
                                            <td colspan=12>
                                                <i style="padding: 0px 20px;" class="fa fa-caret-right" ng-click="patient.dmePrimeNotes = null; patient.dmePrimeNotesAdded = false"></i>
                                                <a editable-text="patient.dmePrimeNotes">{{patient.dmePrimeNotes || 'empty'}}</a>
                                                <i style="padding-right:20px;" class="btn btn-sm pull-right fa fa-remove"  ng-click="patient.dmePrimeNotes = null; patient.dmePrimeNotesAdded = false"></i>
                                            </td>
                                        </tr>
                                        <tr ng-show="!filteredPatients.length">
                                            <td colspan="12">
                                                <span>No Data</span>
                                            </td>
                                        </tr>
                                    </tbody>


                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>